trunk/NairnMPM/input/NairnMPM.dtd

<!-- ==============================================
		NairnMPM Input File MPM
================================================-->

<!ELEMENT	JANFEAInput 
			( Header, MPMHeader, Mesh, MaterialPoints, CrackList*, Material+, 
			GridBCs?, ParticleBCs?, Thermal?, Gravity?, CustomTasks?, Periodic?)>
<!ATTLIST	JANFEAInput
			version (1|2|3) "3">			
     
<!-- ==============================================
		BLOCK ELEMENTS
================================================-->

<!-- Headers -->

<!ELEMENT	Header
			( Description | Analysis | DevelFlag )+>

<!ELEMENT	MPMHeader
			( MatlPtsPerElement | Cracks | MPMMethod | TimeStep | TimeFactor
			| MaxTime | ArchiveTime | ArchiveRoot | MPMArchiveOrder | CrackArchiveOrder
			| ProgSteps | Damping | FeedbackDamping | GlobalArchiveTime | GlobalArchive | DefGradTerms
			| Diffusion | StressFreeTemp | FirstArchiveTime | GIMP | LeaveLimit | MultiMaterialMode )*>

<!ELEMENT	Cracks
			( Friction | Propagate | AltPropagate | JContour | MovePlane | ContactPosition | PropagateLength )*>
			
<!ELEMENT	MultiMaterialMode
			( Friction | ContactPosition )*>
<!ATTLIST	MultiMaterialMode
			Vmin CDATA #IMPLIED
			Dcheck (0|1) #IMPLIED
			Normals (0|1|2|3) #IMPLIED
			RigidBias CDATA #IMPLIED>


<!-- Define the mesh -->

<!ELEMENT	Mesh
			(( NodeList, ElementList) | Grid)>
<!ATTLIST	Mesh
			output CDATA #IMPLIED>

<!ELEMENT	NodeList
			( pt* )>
<!-- No longer used but allowed for compatibility -->
<!ATTLIST	NodeList
			number CDATA #IMPLIED>

<!ELEMENT	ElementList
			( elem )*>
<!-- Number no longer used but allowed for compatibility -->
<!ATTLIST	ElementList
			number CDATA #IMPLIED
			form CDATA #IMPLIED>
			
<!ELEMENT	Grid
			( Horiz, Vert, Depth? )>
<!ATTLIST	Grid
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #IMPLIED
			zmax CDATA #IMPLIED
			type (2|7|8) #IMPLIED
			thickness CDATA #IMPLIED>

<!-- Define the material points -->

<!ELEMENT	MaterialPoints
			( PointList | Body | Hole | BMP )+>

<!ELEMENT	PointList
			( mp+ )>

<!ELEMENT	mp
			( pt, vel?, mass? )>
<!ATTLIST	mp
			elem CDATA #IMPLIED
			matl CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			angle CDATA #IMPLIED
			thick CDATA #IMPLIED>

<!ELEMENT	Body
			( RotateX | RotateY | RotateZ | Unrotate
			| Oval | Rect | Polygon | Sphere | Box | Cylinder | Polyhedron )*>
<!ATTLIST	Body
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			angle CDATA #IMPLIED
			thick CDATA #IMPLIED
			vx CDATA #IMPLIED
			vy CDATA #IMPLIED
			vz CDATA #IMPLIED
			conc CDATA #IMPLIED
			wtconc CDATA #IMPLIED
			temp CDATA #IMPLIED>
<!ELEMENT	Hole
			( Oval | Rect | Polygon | Sphere | Box | Cylinder )*>

<!ELEMENT	Polygon
			( pt+ )>
<!ATTLIST	Polygon
			np CDATA #IMPLIED>

<!ELEMENT	Polyhedron
			( faces+ )>

<!ELEMENT	BMP
			( Origin | Intensity | RotateX | RotateY | RotateZ | Unrotate)*>
<!ATTLIST	BMP
			units CDATA #IMPLIED
			name CDATA #REQUIRED
			angles CDATA #IMPLIED
			width CDATA #IMPLIED
			height CDATA #IMPLIED>

<!ELEMENT	Intensity
			( Angle | Thickness | vel | Temperature | Concentration )*>
<!ATTLIST	Intensity
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			imin CDATA #REQUIRED
			imax CDATA #REQUIRED
			minAngle CDATA #IMPLIED
			maxAngle CDATA #IMPLIED>
			
<!--- Add optional cracks -->
									
<!ELEMENT	CrackList
			( pt | Line | Circle | Thickness)*>
<!ATTLIST	CrackList
			type (fixed|free) #IMPLIED
			friction CDATA #IMPLIED
			Dn CDATA #IMPLIED
			Dnt CDATA #IMPLIED
			Dnc CDATA #IMPLIED
			Dt CDATA #IMPLIED>

<!-- Define material properties -->

<!ELEMENT	Material
			( rho | E | nu | G | alpha | yield | beta | yieldMax
				| EA | ET | GA | nuA | nuT | alphaA | alphaT | betaA | betaT | Ep
				| Ex | ER | Ey | EZ | Ez | Gxy | Gyx | GRZ | GZR | Gxz | Gzx 
				| GRT | GTR | Gyz | Gzy | GZT | GTZ
				| nuxy | nuyx | nuRZ | nuZR | nuxz | nuzx | nuRT | nuTR | nuyz | nuzy | nuZT | nuTZ
				| alphax | alphay | alphaz | alphaR | alphaZ
				| betax | betay | betaz | betaR | betaZ
				| K | G0 | ntaus | Gk | tauk | xGrow | yGrow
				| G1 | G2 | speed | gain | p | maxLength | Propagate | AltPropagate | initTime
				| K0 | Kd | Gd | alpha0 | alphad | transition | critical | DeltaVOffset
				| reversible | irreversible | beta0 | betad | sigmaI | sigmaII | kIe | kIIe | nmix
				| KIc | KIIc | JIc | JIIc | gamma | KIexp | KIIexp | delIc | delIIc | delpkI | delpkII
				| sigmaI2 | sigmaII2 | delpkI2 | delpkII2 | ValueFunction
				| D | DA | DT | Dx | Dy | Dz | DR | DZ | D0 | Dd | csat 
				| SettingFunction | SettingFunction2 | SettingFunction3
				| kCond | Cp | Cv | SetDirection | SetTemperature | SetConcentration
				| kCondA | kCondT | kCondx | kCondy | kCondz | kCond0 | kCondd | P0 | T0
                | kCondR | kCondZ | Hardening | C1SL | C2SL
				| yldxx | yldyy | yldzz | yldxy | yldxz | yldyz | Khard | nhard | color | betahard
				| Bjc | njc | Cjc | ep0jc | C0 | S1 | S2 | S3 | GPpG0 | GTpG0 | gamma0
				| Uk | YP | Friction | C1 | C2 | Ajc | mjc | Tmjc | tempC1 | tempC2 )* >
<!ATTLIST	Material
			Type CDATA #REQUIRED
			Name CDATA #REQUIRED>

<!-- Displacement Boundary Conditions -->

<!ELEMENT	GridBCs
			( DisplacementBCs | BCLine | LdRect | BCArc | BCBox )*>
			
<!ELEMENT	DisplacementBCs
			( fix* )>

<!-- Particle Load Boundary Conditions -->

<!ELEMENT	ParticleBCs
			( LoadBCs | LdRect | BCLine | BCArc | BCBox )*>

<!ELEMENT	LoadBCs
			( load* )>

<!-- BC Shapes -->

<!ELEMENT	BCLine
			( DisBC | ConcBC | LoadBC | ConcFluxBC | TempBC | net | perParticle | TractionBC )*>
<!ATTLIST	BCLine
			units CDATA #IMPLIED
			x1 CDATA #REQUIRED
			x2 CDATA #REQUIRED
			y1 CDATA #REQUIRED
			y2 CDATA #REQUIRED
			tolerance CDATA #IMPLIED>
			
<!ELEMENT	BCArc
			( DisBC | ConcBC | LoadBC | ConcFluxBC | TempBC | net | perParticle | TractionBC )*>
<!ATTLIST	BCArc
			units CDATA #IMPLIED
			x1 CDATA #REQUIRED
			x2 CDATA #REQUIRED
			y1 CDATA #REQUIRED
			y2 CDATA #REQUIRED
			tolerance CDATA #IMPLIED
			start CDATA #IMPLIED
			end CDATA #IMPLIED>
			
<!ELEMENT	LdRect
			( LoadBC | ConcFluxBC | DisBC | TempBC | ConcBC | net | perParticle | TractionBC )*>
<!ATTLIST	LdRect
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED>

<!ELEMENT	BCBox
			( DisBC | LoadBC | TempBC | ConcBC | ConcFluxBC | net | perParticle | TractionBC )*>
<!ATTLIST	BCBox
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED
            axis (0|1|2|3|x|y|z|X|Y|Z) #IMPLIED>
			
<!-- Thermal analysis -->

<!ELEMENT	Thermal
			( Conduction?, Isothermal?, CrackTipHeating?, EnergyCoupling?) >

<!-- Gravity analysis -->

<!ELEMENT	Gravity
			( BodyXForce?, BodyYForce?, BodyZForce? )>

<!-- Custom Tasks -->

<!ELEMENT	CustomTasks (Schedule+) >

<!ELEMENT	Schedule
			( Parameter* )>
<!ATTLIST	Schedule
			name CDATA #REQUIRED>

<!-- ==============================================
		BASIC ELEMENTS (with no children)
================================================-->

<!ELEMENT	Description (#PCDATA)>
<!ELEMENT	Analysis (#PCDATA)>
<!ELEMENT	DevelFlag (#PCDATA)>
<!ATTLIST	DevelFlag
			Number (0|1|2|3|4) #IMPLIED>
<!ELEMENT	MatlPtsPerElement (#PCDATA)>
<!ELEMENT	Friction (#PCDATA)>
<!ATTLIST	Friction
			Dn CDATA #IMPLIED
			Dnt CDATA #IMPLIED
			Dnc CDATA #IMPLIED
			Dt CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>
<!ELEMENT	Propagate EMPTY>
<!ATTLIST	Propagate
			criterion (0|1|2|3|4|5|6|7) #IMPLIED
			direction (0|1|2|3|4) #IMPLIED
			traction CDATA #IMPLIED>
<!ELEMENT	AltPropagate EMPTY>
<!ATTLIST	AltPropagate
			criterion (0|1|2|3|4|5|6|7) #IMPLIED
			direction (0|1|2|3|4) #IMPLIED
			traction CDATA #IMPLIED>
<!ELEMENT	MovePlane EMPTY>
<!ATTLIST	MovePlane
			prevent (yes|YES|Yes|no|No|NO) #IMPLIED
			type (cm|CM|Cm|avg|Avg|AVG) #IMPLIED>
<!ELEMENT	ContactPosition (#PCDATA)>
<!ELEMENT	PropagateLength (#PCDATA)>
<!ELEMENT	JContour EMPTY>
<!ATTLIST	JContour
			type CDATA #REQUIRED
			size CDATA #IMPLIED
			terms (1|2) #IMPLIED>
<!ELEMENT	MPMMethod (#PCDATA)>
<!ELEMENT	TimeStep (#PCDATA)>
<!ATTLIST	TimeStep
			units CDATA #IMPLIED>
<!ELEMENT	TimeFactor (#PCDATA)>
<!ELEMENT	MaxTime (#PCDATA)>
<!ATTLIST	MaxTime
			units CDATA #IMPLIED>
<!ELEMENT	ArchiveTime (#PCDATA)>
<!ATTLIST	ArchiveTime
			units CDATA #IMPLIED>
<!ELEMENT	FirstArchiveTime (#PCDATA)>
<!ATTLIST	FirstArchiveTime
			units CDATA #IMPLIED>
<!ELEMENT	GlobalArchiveTime (#PCDATA)>
<!ATTLIST	GlobalArchiveTime
			units CDATA #IMPLIED>
<!ELEMENT	GlobalArchive EMPTY>
<!ATTLIST	GlobalArchive
			type CDATA #REQUIRED
			material CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>
<!ELEMENT	ArchiveRoot (#PCDATA)>
<!ATTLIST	ArchiveRoot
			unique (0|1) #IMPLIED>
<!ELEMENT	MPMArchiveOrder (#PCDATA)>
<!ELEMENT	CrackArchiveOrder (#PCDATA)>
<!ELEMENT	DefGradTerms (#PCDATA)>
<!ELEMENT	ProgSteps (#PCDATA)>
<!ELEMENT	Damping (#PCDATA)>
<!ATTLIST	Damping
			function CDATA #IMPLIED>
<!ELEMENT	FeedbackDamping (#PCDATA)>
<!ATTLIST	FeedbackDamping
			target CDATA #IMPLIED
            max CDATA #IMPLIED>
<!ELEMENT	BodyXForce (#PCDATA)>
<!ELEMENT	BodyYForce (#PCDATA)>
<!ELEMENT	BodyZForce (#PCDATA)>
<!ELEMENT	Isothermal (#PCDATA)>
<!ATTLIST	Isothermal
			time CDATA #IMPLIED
			start CDATA #IMPLIED>
<!ELEMENT	StressFreeTemp (#PCDATA)>
<!ELEMENT	LeaveLimit (#PCDATA)>
<!ELEMENT	GIMP EMPTY>
<!ATTLIST	GIMP
			type (Dirac|uGIMP|lCPDI|qCPDI) #IMPLIED>
<!ELEMENT	Diffusion EMPTY>
<!ATTLIST	Diffusion
			reference CDATA #IMPLIED>
<!ELEMENT	Conduction EMPTY>
<!ELEMENT	CrackTipHeating EMPTY>
<!ELEMENT	EnergyCoupling EMPTY>

<!ELEMENT	rho (#PCDATA)>
<!ELEMENT	E (#PCDATA)>
<!ELEMENT	nu (#PCDATA)>
<!ELEMENT	G (#PCDATA)>
<!ELEMENT	alpha (#PCDATA)>
<!ELEMENT	beta (#PCDATA)>
<!ELEMENT	yield (#PCDATA)>
<!ELEMENT	yldxx (#PCDATA)>
<!ELEMENT	yldyy (#PCDATA)>
<!ELEMENT	yldzz (#PCDATA)>
<!ELEMENT	yldxy (#PCDATA)>
<!ELEMENT	yldxz (#PCDATA)>
<!ELEMENT	yldyz (#PCDATA)>
<!ELEMENT	Hardening (#PCDATA)>
<!ELEMENT	Khard (#PCDATA)>
<!ELEMENT	nhard (#PCDATA)>
<!ELEMENT	Ajc (#PCDATA)>
<!ELEMENT	Bjc (#PCDATA)>
<!ELEMENT	njc (#PCDATA)>
<!ELEMENT	Cjc (#PCDATA)>
<!ELEMENT	ep0jc (#PCDATA)>
<!ELEMENT	mjc (#PCDATA)>
<!ELEMENT	Tmjc (#PCDATA)>
<!ELEMENT	EA (#PCDATA)>
<!ELEMENT	ET (#PCDATA)>
<!ELEMENT	Ep (#PCDATA)>
<!ELEMENT	GA (#PCDATA)>
<!ELEMENT	nuA (#PCDATA)>
<!ELEMENT	nuT (#PCDATA)>
<!ELEMENT	alphaA (#PCDATA)>
<!ELEMENT	alphaT (#PCDATA)>
<!ELEMENT	betaA (#PCDATA)>
<!ELEMENT	betaT (#PCDATA)>
<!ELEMENT	Ex (#PCDATA)>
<!ELEMENT	Ey (#PCDATA)>
<!ELEMENT	Ez (#PCDATA)>
<!ELEMENT	ER (#PCDATA)>
<!ELEMENT	EZ (#PCDATA)>
<!ELEMENT	Gxy (#PCDATA)>
<!ELEMENT	Gyx (#PCDATA)>
<!ELEMENT	Gxz (#PCDATA)>
<!ELEMENT	Gzx (#PCDATA)>
<!ELEMENT	Gyz (#PCDATA)>
<!ELEMENT	Gzy (#PCDATA)>
<!ELEMENT	GRZ (#PCDATA)>
<!ELEMENT	GZR (#PCDATA)>
<!ELEMENT	GRT (#PCDATA)>
<!ELEMENT	GTR (#PCDATA)>
<!ELEMENT	GZT (#PCDATA)>
<!ELEMENT	GTZ (#PCDATA)>
<!ELEMENT	nuxy (#PCDATA)>
<!ELEMENT	nuyz (#PCDATA)>
<!ELEMENT	nuxz (#PCDATA)>
<!ELEMENT	nuyx (#PCDATA)>
<!ELEMENT	nuzy (#PCDATA)>
<!ELEMENT	nuzx (#PCDATA)>
<!ELEMENT	nuRZ (#PCDATA)>
<!ELEMENT	nuZR (#PCDATA)>
<!ELEMENT	nuRT (#PCDATA)>
<!ELEMENT	nuTR (#PCDATA)>
<!ELEMENT	nuZT (#PCDATA)>
<!ELEMENT	nuTZ (#PCDATA)>
<!ELEMENT	alphax (#PCDATA)>
<!ELEMENT	alphay (#PCDATA)>
<!ELEMENT	alphaz (#PCDATA)>
<!ELEMENT	alphaR (#PCDATA)>
<!ELEMENT	alphaZ (#PCDATA)>
<!ELEMENT	betax (#PCDATA)>
<!ELEMENT	betay (#PCDATA)>
<!ELEMENT	betaz (#PCDATA)>
<!ELEMENT	betaR (#PCDATA)>
<!ELEMENT	betaZ (#PCDATA)>
<!ELEMENT	KIc (#PCDATA)>
<!ELEMENT	KIexp (#PCDATA)>
<!ELEMENT	KIIc (#PCDATA)>
<!ELEMENT	KIIexp (#PCDATA)>
<!ELEMENT	JIc (#PCDATA)>
<!ELEMENT	JIIc (#PCDATA)>
<!ELEMENT	nmix (#PCDATA)>
<!ELEMENT	sigmaI (#PCDATA)>
<!ELEMENT	sigmaI2 (#PCDATA)>
<!ELEMENT	sigmaII (#PCDATA)>
<!ELEMENT	sigmaII2 (#PCDATA)>
<!ELEMENT	kIe (#PCDATA)>
<!ELEMENT	kIIe (#PCDATA)>
<!ELEMENT	delpkI (#PCDATA)>
<!ELEMENT	delpkI2 (#PCDATA)>
<!ELEMENT	delpkII (#PCDATA)>
<!ELEMENT	delpkII2 (#PCDATA)>
<!ELEMENT	gamma (#PCDATA)>
<!ELEMENT	delIc (#PCDATA)>
<!ELEMENT	delIIc (#PCDATA)>
<!ELEMENT	D (#PCDATA)>
<!ELEMENT	DA (#PCDATA)>
<!ELEMENT	DT (#PCDATA)>
<!ELEMENT	Dx (#PCDATA)>
<!ELEMENT	Dy (#PCDATA)>
<!ELEMENT	Dz (#PCDATA)>
<!ELEMENT	DR (#PCDATA)>
<!ELEMENT	DZ (#PCDATA)>
<!ELEMENT	D0 (#PCDATA)>
<!ELEMENT	Dd (#PCDATA)>
<!ELEMENT	csat (#PCDATA)>
<!ELEMENT	SettingFunction (#PCDATA)>
<!ELEMENT	SettingFunction2 (#PCDATA)>
<!ELEMENT	SettingFunction3 (#PCDATA)>
<!ELEMENT	ValueFunction (#PCDATA)>
<!ELEMENT	kCond (#PCDATA)>
<!ELEMENT	kCondA (#PCDATA)>
<!ELEMENT	kCondT (#PCDATA)>
<!ELEMENT	kCondx (#PCDATA)>
<!ELEMENT	kCondy (#PCDATA)>
<!ELEMENT	kCondz (#PCDATA)>
<!ELEMENT	kCond0 (#PCDATA)>
<!ELEMENT	kCondd (#PCDATA)>
<!ELEMENT	kCondR (#PCDATA)>
<!ELEMENT	kCondZ (#PCDATA)>
<!ELEMENT	P0 (#PCDATA)>
<!ELEMENT	T0 (#PCDATA)>
<!ELEMENT	Cp (#PCDATA)>
<!ELEMENT	Cv (#PCDATA)>
<!ELEMENT	speed (#PCDATA)>
<!ELEMENT	xGrow (#PCDATA)>
<!ELEMENT	yGrow (#PCDATA)>
<!ELEMENT	gain (#PCDATA)>
<!ELEMENT	initTime (#PCDATA)>
<!ELEMENT	maxLength (#PCDATA)>
<!ELEMENT	p (#PCDATA)>
<!ELEMENT	K (#PCDATA)>
<!ELEMENT	G0 (#PCDATA)>
<!ELEMENT	ntaus (#PCDATA)>
<!ELEMENT	Gk (#PCDATA)>
<!ELEMENT	tauk (#PCDATA)>
<!ELEMENT	G1 (#PCDATA)>
<!ELEMENT	G2 (#PCDATA)>
<!ELEMENT	Uk (#PCDATA)>
<!ELEMENT	YP (#PCDATA)>
<!ELEMENT	K0 (#PCDATA)>
<!ELEMENT	Kd (#PCDATA)>
<!ELEMENT	Gd (#PCDATA)>
<!ELEMENT	alpha0 (#PCDATA)>
<!ELEMENT	alphad (#PCDATA)>
<!ELEMENT	beta0 (#PCDATA)>
<!ELEMENT	betad (#PCDATA)>
<!ELEMENT	transition (#PCDATA)>
<!ELEMENT	critical (#PCDATA)>
<!ELEMENT	DeltaVOffset (#PCDATA)>
<!ELEMENT	reversible EMPTY>
<!ELEMENT	irreversible EMPTY>
<!ELEMENT	SetDirection (#PCDATA)>
<!ELEMENT	SetTemperature EMPTY>
<!ELEMENT	SetConcentration EMPTY>
<!ELEMENT	color EMPTY>
<!ATTLIST	color
			red CDATA #REQUIRED
			green CDATA #IMPLIED
			blue CDATA #IMPLIED>
<!ELEMENT	betahard (#PCDATA)>
<!ELEMENT	C0 (#PCDATA)>
<!ELEMENT	S1 (#PCDATA)>
<!ELEMENT	S2 (#PCDATA)>
<!ELEMENT	S3 (#PCDATA)>
<!ELEMENT	GPpG0 (#PCDATA)>
<!ELEMENT	GTpG0 (#PCDATA)>
<!ELEMENT	yieldMax (#PCDATA)>
<!ELEMENT	gamma0 (#PCDATA)>
<!ELEMENT	C1 (#PCDATA)>
<!ELEMENT	C2 (#PCDATA)>
<!ELEMENT	C1SL (#PCDATA)>
<!ELEMENT	C2SL (#PCDATA)>
<!ELEMENT	tempC1 (#PCDATA)>
<!ELEMENT	tempC2 (#PCDATA)>

<!ELEMENT	pt EMPTY>
<!ATTLIST	pt
			units CDATA #IMPLIED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			z CDATA #IMPLIED
			tip CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>

<!ELEMENT	Line EMPTY>
<!ATTLIST	Line
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			ymin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymax CDATA #REQUIRED
			resolution CDATA #REQUIRED
			start_tip CDATA #IMPLIED
			end_tip CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>

<!ELEMENT	Circle EMPTY>
<!ATTLIST	Circle
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			ymin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymax CDATA #REQUIRED
			resolution CDATA #REQUIRED
			start_angle CDATA #IMPLIED
			end_angle CDATA #IMPLIED
			start_tip CDATA #IMPLIED
			end_tip CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>

<!ELEMENT	elem (#PCDATA)>
<!ATTLIST	elem
			type (2|7) "2"
			matl CDATA "1"
			angle CDATA "0.0"
			thick CDATA "1">

<!ELEMENT	Horiz EMPTY>
<!ATTLIST	Horiz
			nx CDATA #IMPLIED
			cellsize CDATA #IMPLIED
			rx CDATA "1.0">

<!ELEMENT	Vert EMPTY>
<!ATTLIST	Vert
			ny CDATA #IMPLIED
			cellsize CDATA #IMPLIED
			ry CDATA "1.0">
			
<!ELEMENT	Depth EMPTY>
<!ATTLIST	Depth
			nz CDATA #IMPLIED
			cellsize CDATA #IMPLIED
			rz CDATA "1.0">
			
<!ELEMENT	vel EMPTY>
<!ATTLIST	vel
			units CDATA #IMPLIED
			x CDATA "0.0"
			y CDATA "0.0">

<!ELEMENT	mass EMPTY>
<!ATTLIST	mass
			units CDATA #IMPLIED
			m CDATA #REQUIRED>

<!ELEMENT	RotateX (#PCDATA)>
<!ELEMENT	RotateY (#PCDATA)>
<!ELEMENT	RotateZ (#PCDATA)>
<!ELEMENT	Unrotate EMPTY>

<!ELEMENT	Rect EMPTY>
<!ATTLIST	Rect
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED>

<!ELEMENT	Box EMPTY>
<!ATTLIST	Box
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED>

<!ELEMENT	Oval EMPTY>
<!ATTLIST	Oval
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED>

<!ELEMENT	Sphere EMPTY>
<!ATTLIST	Sphere
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED>

<!ELEMENT	Cylinder EMPTY>
<!ATTLIST	Cylinder
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED
			axis CDATA #REQUIRED
            radius CDATA #IMPLIED>

<!ELEMENT	faces (#PCDATA)>
<!ATTLIST	faces
			units CDATA #IMPLIED
			style CDATA #REQUIRED>

<!ELEMENT	DisBC EMPTY>
<!ATTLIST	DisBC
			dir CDATA #REQUIRED
			disp CDATA #IMPLIED
			vel CDATA #IMPLIED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			ftime CDATA #IMPLIED
			angle CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	ConcBC EMPTY>
<!ATTLIST	ConcBC
			value CDATA #IMPLIED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	ConcFluxBC EMPTY>
<!ATTLIST	ConcFluxBC
			dir CDATA #REQUIRED
			value CDATA #IMPLIED
			style (1|2|3|4|5|6) "1"
			time CDATA #IMPLIED
			bath CDATA #IMPLIED
			face CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	TempBC EMPTY>
<!ATTLIST	TempBC
			value CDATA #IMPLIED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	net EMPTY>
<!ELEMENT	perParticle EMPTY>

<!ELEMENT	fix (#PCDATA)>
<!ATTLIST	fix
			node CDATA #REQUIRED
			dof CDATA #REQUIRED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			angle CDATA #IMPLIED>

<!ELEMENT	load (#PCDATA)>
<!ATTLIST	load
			node CDATA #IMPLIED
			pt CDATA #IMPLIED
			dof CDATA #REQUIRED
			style (1|2|3|4|5|6) "1">
			
<!ELEMENT	LoadBC EMPTY>
<!ATTLIST	LoadBC
			dir CDATA #REQUIRED
			style (1|2|3|4|5|6) "1"
			load CDATA #IMPLIED
			ftime CDATA #IMPLIED
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	TractionBC EMPTY>
<!ATTLIST	TractionBC
			dir CDATA #REQUIRED
			style (1|2|3|4|6) "1"
            face (1|2|3|4|5|6) #IMPLIED
			stress CDATA #IMPLIED
			ftime CDATA #IMPLIED
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	Parameter (#PCDATA)>
<!ATTLIST	Parameter
			name CDATA #REQUIRED>

<!ELEMENT	Origin EMPTY>
<!ATTLIST	Origin
			units CDATA #IMPLIED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			z CDATA #IMPLIED>
<!ELEMENT	Angle (#PCDATA)>
<!ELEMENT	Thickness (#PCDATA)>
<!ATTLIST	Thickness
			units CDATA #IMPLIED>
<!ELEMENT	Temperature (#PCDATA)>
<!ELEMENT	Concentration (#PCDATA)>

<!ELEMENT	Periodic EMPTY>
<!ATTLIST	Periodic
			dir CDATA #REQUIRED
			xMin CDATA #REQUIRED
			yMin CDATA #REQUIRED
			xMax CDATA #REQUIRED
			yMax CDATA #REQUIRED>

