NairnMPM/input/NairnMPM.dtd

<!-- ==============================================
		NairnMPM Input File
================================================-->

<!ELEMENT	JANFEAInput 
			( Header, MPMHeader, Mesh, MaterialPoints, CrackList*, Material+, 
			GridBCs?, ParticleBCs?, Thermal?, Gravity?, CustomTasks?)>
<!ATTLIST	JANFEAInput
			version (1|2|3) "3">			
     
<!-- ==============================================
		BLOCK ELEMENTS
================================================-->

<!-- Headers -->

<!ELEMENT	Header
			( Description | Analysis | DevelFlag | ConsistentUnits )+>

<!ELEMENT	MPMHeader
			( MatlPtsPerElement | Cracks | MPMMethod | Timing | ArchiveGroup | ArchiveRoot | MPMArchiveOrder
			| CrackArchiveOrder | ProgSteps | Damping | FDamping | FeedbackDamping | GlobalArchive | MPMArchive
			| DefGradTerms | Diffusion | StressFreeTemp | GIMP | LeaveLimit | MultiMaterialMode | CPDIrcrit
            | PDamping | PFeedbackDamping | TimeStep | TimeFactor | MaxTime | ArchiveTime | FirstArchiveTime
			| GlobalArchiveTime | ExtrapolateRigid | SkipPostExtrapolation | TransTimeFactor | NeedsMechanics
			| TrackParticleSpin | XPIC | ExactTractions | Poroelasticity | TransportOnly | TrackGradV
            | DeleteLimit | RestartScaling | PatchGrid )*>

<!ELEMENT	Cracks
			( Friction | Propagate | AltPropagate | JContour | MovePlane | ContactPosition | PropagateLength
			| CrackParticleSize | ShiftCracks )*>
			
<!ELEMENT	MultiMaterialMode
			( Friction | ContactPosition )*>
<!ATTLIST	MultiMaterialMode
			Vmin CDATA #IMPLIED
			Lumping (0|1) #IMPLIED
			Dcheck (0|1) #IMPLIED
			Normals (0|1|2|3|4|5|6|7) #IMPLIED
			RigidBias CDATA #IMPLIED
			Polar CDATA #IMPLIED
			Azimuth CDATA #IMPLIED>

<!ELEMENT	PatchGrid
			( Xpatches?, Ypatches?, Zpatches? )*>
<!ATTLIST	PatchGrid
			x CDATA #IMPLIED
			y CDATA #IMPLIED
			z CDATA #IMPLIED>

<!-- Define the mesh -->

<!ELEMENT	Mesh
			(( NodeList, ElementList) | Grid)>
<!ATTLIST	Mesh
			output CDATA #IMPLIED>

<!ELEMENT	NodeList
			( pt* )>
<!-- No longer used but allowed for compatibility -->
<!ATTLIST	NodeList
			number CDATA #IMPLIED>

<!ELEMENT	ElementList
			( elem )*>
<!-- Number no longer used but allowed for compatibility -->
<!ATTLIST	ElementList
			number CDATA #IMPLIED
			form CDATA #IMPLIED>
			
<!ELEMENT	Grid
			( Horiz, Vert, Depth?, Border?, AreaOfInterest* )>
<!ATTLIST	Grid
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #IMPLIED
			zmax CDATA #IMPLIED
			type (2|7|8) #IMPLIED
			thickness CDATA #IMPLIED>

<!-- Define the material points -->

<!ELEMENT	MaterialPoints
			( PointList | Body | Hole | BMP | Fill )+>

<!ELEMENT	PointList
			( mp+ )>

<!ELEMENT	mp
			( pt, vel?, mass? )>
<!ATTLIST	mp
			elem CDATA #IMPLIED
			matl CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			angle CDATA #IMPLIED
			thick CDATA #IMPLIED
			temp CDATA #IMPLIED
			conc CDATA #IMPLIED
			wtconc CDATA #IMPLIED
			pp CDATA #IMPLIED
			lpx CDATA #IMPLIED
			lpy CDATA #IMPLIED
			lpz CDATA #IMPLIED>

<!ELEMENT	Body
			( RotateX | RotateY | RotateZ | Unrotate | Oval | Rect | Polygon
			| Sphere | Box | Cylinder | Polyhedron | Torus | Shell
			| vel0X | vel0Y | vel0Z | Line | Arc | MatlPtsPerElement
			| Deform | Undeform | Lp0X | Lp0Y | Lp0Z )*>
<!ATTLIST	Body
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			angle CDATA #IMPLIED
			thick CDATA #IMPLIED
			vx CDATA #IMPLIED
			vy CDATA #IMPLIED
			vz CDATA #IMPLIED
			conc CDATA #IMPLIED
			wtconc CDATA #IMPLIED
			pp CDATA #IMPLIED
			temp CDATA #IMPLIED>
<!ELEMENT	Hole
			( Oval | Rect | Polygon | Sphere | Box | Cylinder | Torus | Shell | Line | Arc )*>

<!ELEMENT	Polygon
			( pt+, ( Rect | Oval | Polygon | Line | Arc )* )>
<!ATTLIST	Polygon
			np CDATA #IMPLIED>

<!ELEMENT	Polyhedron
			( faces+, ( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* )>

<!ELEMENT	BMP
			( Origin | Intensity | RotateX | RotateY | RotateZ | Unrotate | MatlPtsPerElement)*>
<!ATTLIST	BMP
			units CDATA #IMPLIED
			name CDATA #REQUIRED
			angles CDATA #IMPLIED
			anglesX CDATA #IMPLIED
			anglesY CDATA #IMPLIED
			anglesZ CDATA #IMPLIED
			width CDATA #IMPLIED
			height CDATA #IMPLIED>

<!ELEMENT	Intensity
			( Angle | Thickness | vel | Temperature | Concentration )*>
<!ATTLIST	Intensity
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			imin CDATA #REQUIRED
			imax CDATA #REQUIRED
			minAngle CDATA #IMPLIED
			maxAngle CDATA #IMPLIED>
			
<!ELEMENT	Deform EMPTY>
<!ATTLIST	Deform
			dX CDATA #IMPLIED
			dY CDATA #IMPLIED
			dZ CDATA #IMPLIED
			F11 CDATA #IMPLIED
			F12 CDATA #IMPLIED
			F13 CDATA #IMPLIED
			F21 CDATA #IMPLIED
			F22 CDATA #IMPLIED
			F23 CDATA #IMPLIED
			F31 CDATA #IMPLIED
			F32 CDATA #IMPLIED
			F33 CDATA #IMPLIED>
<!ELEMENT	Undeform EMPTY>

<!--- Add optional cracks -->

<!ELEMENT	CrackList
			( pt | Line | Circle | Thickness | Mesh | Plane )*>
<!ATTLIST	CrackList
			type (fixed|free) #IMPLIED
			law CDATA #IMPLIED
			lawname CDATA #IMPLIED
			Tprop CDATA #IMPLIED
			Tpropname CDATA #IMPLIED
			friction CDATA #IMPLIED
			Dn CDATA #IMPLIED
			Dnt CDATA #IMPLIED
			Dnc CDATA #IMPLIED
			Dt CDATA #IMPLIED>

<!-- Define material properties -->

<!ELEMENT	Material
			( rho | E | nu | G | alpha | yield | yieldMin | beta | yieldMax
				| EA | ET | GA | nuA | nuT | alphaA | alphaT | betaA | betaT | Ep
				| Ex | ER | Ey | EZ | Ez | Gxy | Gyx | GRZ | GZR | Gxz | Gzx
				| GRT | GTR | Gyz | Gzy | GZT | GTZ | swapz
				| nuxy | nuyx | nuRZ | nuZR | nuxz | nuzx | nuRT | nuTR | nuyz | nuzy | nuZT | nuTZ
				| alphax | alphay | alphaz | alphaR | alphaZ | largeRotation | Dn | Dnt | Dnc | Dt | coeff | coeffStatic
				| betax | betay | betaz | betaR | betaZ | CritComp | CritTens | xihard | Elastic | displacementOnly | Dc
				| K | G0 | ntaus | Gk | tauk | Kk | tauKk | ntausK | xGrow | yGrow | Lame | shareMatField | model | Tref
				| G1 | G2 | speed | maxLength | Propagate | AltPropagate | initTime | alphaI | alphaII
				| K0 | Kd | Gd | alpha0 | alphad | transition | critical | DeltaVOffset | stress | function | minCOD
				| reversible | irreversible | beta0 | betad | sigmaI | sigmaII | kIe | kIIe | nmix | NewtonsMethod
				| KIc | KIIc | JIc | JIIc | KIexp | KIIexp | delIc | delIIc | delpkI | delpkII | modelI | modelII
				| sigmaI2 | sigmaII2 | delpkI2 | delpkII2 | ValueFunction | viscosity | InitialPressure
				| D | DA | DT | Dx | Dy | Dz | DR | DZ | D0 | Dd | csat | constantTip | logshearrate
				| SettingFunction | SettingFunction2 | SettingFunction3 | IdealRubber | shearFailureSurface
				| kCond | Cp | Cv | SetDirection | SetTemperature | SetConcentration | mirrored | HillStyle
				| kCondA | kCondT | kCondx | kCondy | kCondz | kCond0 | kCondd | P0 | T0 | Kmax | vdwa | vdwb
                | kCondR | kCondZ | Hardening | C1SL | C2SL | UJOption | ArtificialVisc | avA1 | avA2 | mu0 | Smu
				| yldxx | yldyy | yldzz | yldxy | yldxz | yldyz | Khard | nhard | exphard | color | betahard
				| Bjc | njc | Cjc | ep0jc | Djc | n2jc | C0 | S1 | S2 | S3 | GPpG0 | GTpG0 | gamma0 | pressureLaw
				| Uk | YP | Friction | C1 | C2 | Ajc | mjc | Tmjc | tempC1 | tempC2 | LiquidPhase | alphaMax
                | tayM | rhoW | rhoC | fo | flim | fsto | sto | m | n | alp | burg | K1 | alpstar
                | betastar | k0 | Atd | Btd | tempDepend | MMG | PDamping | order | Sa | Na | kmu | vhalf
				| allowsCracks| Tmelt | Tsigma| DeltaT | Hfusion | SolidPhase | sigmac | tauc | I-min | II-min
				| I-Gc | II-Gc | Initiation | SofteningI | SofteningII | tractionFailureSurface
				| coefVariation | coefVariationMode | statDistributionMode | wShape | wV0
				| sigmacA | taucA | taucT | tauh | SofteningAI | SofteningTII | SofteningAII | nonLocalRadius
				| AI-Gc | TII-Gc | AII-Gc | AI-min | TII-min | AII-min | maxPressure | nonLocalMode
                | P1 | P2 | PressureModel | PDTol | PDPasses
				| sigmaXXc | sigmaYYc | sigmaZZc | tauXY-Xc | tauXY-Yc | tauXZ-Xc | tauXZ-Zc | tauYZ-Yc | tauYZ-Zc
				| SofteningXX | SofteningYY | SofteningZZ | SofteningXYX | SofteningXYY | SofteningYZY | SofteningYZZ
				| SofteningXZX | SofteningXZZ | XX-Gc | YY-Gc | ZZ-Gc | XYX-Gc | XYY-Gc | XZX-Gc | XZZ-Gc | YZY-Gc
				| YZZ-Gc | XX-min | YY-min | ZZ-min | XYX-min | XYY-min | XZX-min | XZZ-min | YZY-min | YZZ-min
				| alphaPE | alphaAPE | alphaTPE | alphaxPE | alphayPE | alphazPE | alphaRPE | alphaZPE | Darcy | DarcyA | DarcyT | Darcyx
				| Darcyy | Darcyz | DarcyR | DarcyZ | Ku | viscosityPE | Eactivation | maxTemp | PeakShape | PeakArg
				| time0 | nm | Ajwl | Bjwl | Cjwl | R1 | R2 | Omega | Dv | StartX | StartY | StartZ | NormX | NormY | NormZ
				| Dw | DeleteDist | GT0 | GA0 | KT0 | en0 | ell0 | Pk | mref | Cm1 | Cm2 | kMS | Cms1 | Cms2
				| I-k | II-k | AI-k | TII-k | AII-k | XX-k | YY-k | ZZ-k | XYX-k | XYY-k | XZX-k | XZZ-k | YZY-k | YZZ-k
				| I-alpha | II-alpha | AI-alpha | TII-alpha | AII-alpha | XX-alpha | YY-alpha | ZZ-alpha | XYX-alpha
				| XYY-alpha | XZX-alpha | XZZ-alpha | YZY-alpha | YZZ-alpha
				| I-beta | II-beta | AI-beta | TII-beta | AII-beta | XX-beta | YY-beta | ZZ-beta | XYX-beta
				| XYY-beta | XZX-beta | XZZ-beta | YZY-beta | YZZ-beta | ell | metric
				| stability | gd | garg | partition
				| springDir | kstiff | pos0 | dampRatio )* >
<!ATTLIST	Material
			Type CDATA #REQUIRED
			Name CDATA #REQUIRED>

<!-- Displacement Boundary Conditions -->

<!ELEMENT	GridBCs
			( DisplacementBCs | BCLine | LdRect | BCArc | BCBox | BCShape )*>
			
<!ELEMENT	DisplacementBCs
			( fix* )>

<!-- Particle Load Boundary Conditions -->

<!ELEMENT	ParticleBCs
			( LoadBCs | LdRect | BCLine | BCArc | BCBox | BCShape )*>

<!ELEMENT	LoadBCs
			( load* )>

<!-- BC Shapes -->

<!ELEMENT	BCShape
			( ( Oval | Rect | Polygon | Sphere | Box | Cylinder | Torus | Shell | Line | Arc )*,
			( DisBC | ConcBC | LoadBC | ConcFluxBC | HeatFluxBC | TempBC | net | perParticle | TractionBC | Damage )* )>
<!ELEMENT	BCLine
			( DisBC | ConcBC | LoadBC | ConcFluxBC | HeatFluxBC | TempBC | net | perParticle | TractionBC )*>
<!ATTLIST	BCLine
			units CDATA #IMPLIED
			x1 CDATA #REQUIRED
			x2 CDATA #REQUIRED
			y1 CDATA #REQUIRED
			y2 CDATA #REQUIRED
			tolerance CDATA #IMPLIED>
			
<!ELEMENT	BCArc
			( DisBC | ConcBC | LoadBC | ConcFluxBC | HeatFluxBC | TempBC | net | perParticle | TractionBC )*>
<!ATTLIST	BCArc
			units CDATA #IMPLIED
			x1 CDATA #REQUIRED
			x2 CDATA #REQUIRED
			y1 CDATA #REQUIRED
			y2 CDATA #REQUIRED
			tolerance CDATA #IMPLIED
			start CDATA #IMPLIED
			end CDATA #IMPLIED>
			
<!ELEMENT	LdRect
			( LoadBC | ConcFluxBC | HeatFluxBC | DisBC | TempBC | ConcBC | net | perParticle | TractionBC )*>
<!ATTLIST	LdRect
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED>

<!ELEMENT	BCBox
			( DisBC | LoadBC | TempBC | ConcBC | ConcFluxBC | HeatFluxBC | net | perParticle | TractionBC )*>
<!ATTLIST	BCBox
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED
            axis (0|1|2|3|x|y|z|X|Y|Z) #IMPLIED>
			
<!-- Thermal analysis -->

<!ELEMENT	Thermal
			( Conduction | CrackTipHeating | EnergyCoupling | Isothermal
				| CrackContactHeating | ContactHeating | ContactHeatFlow )* >

<!-- Gravity analysis -->

<!ELEMENT	Gravity
			( (BodyXForce?, BodyYForce?, BodyZForce?, GridBodyXForce?, GridBodyYForce?, GridBodyZForce?) |
				(GridBodyXForce?, GridBodyYForce?, GridBodyZForce?, BodyXForce?, BodyYForce?, BodyZForce?))>

<!-- Custom Tasks -->

<!ELEMENT	CustomTasks (Schedule+) >

<!ELEMENT	Schedule
			( Parameter* )>
<!ATTLIST	Schedule
			name CDATA #REQUIRED>

<!-- ==============================================
		BASIC ELEMENTS (with no children)
================================================-->

<!ELEMENT	Description (#PCDATA)>
<!ELEMENT	Analysis (#PCDATA)>
<!ELEMENT	DevelFlag (#PCDATA)>
<!ATTLIST	DevelFlag
			Number CDATA #IMPLIED>
<!ELEMENT	ConsistentUnits EMPTY>
<!ATTLIST	ConsistentUnits
			length (km|m|dm|cm|mm|um|microns|nm|L) #IMPLIED
			mass (kg|g|mg|ug|M) #IMPLIED
			time (s|sec|ms|msec|us|T) #IMPLIED>
<!ELEMENT	MatlPtsPerElement (#PCDATA)>
<!ELEMENT	Fill EMPTY>
<!ATTLIST	Fill
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			num CDATA #IMPLIED
			lx CDATA #IMPLIED
			ly CDATA #IMPLIED
			lz CDATA #IMPLIED>
<!ELEMENT	Friction (#PCDATA)>
<!ATTLIST	Friction
			law CDATA #IMPLIED
			lawname CDATA #IMPLIED
			Dn CDATA #IMPLIED
			Dnt CDATA #IMPLIED
			Dnc CDATA #IMPLIED
			Dt CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>
<!ELEMENT	Propagate EMPTY>
<!ATTLIST	Propagate
			criterion (0|1|2|4|5|6|7) #IMPLIED
			direction (0|1|2|3|4) #IMPLIED
			traction CDATA #IMPLIED>
<!ELEMENT	AltPropagate EMPTY>
<!ATTLIST	AltPropagate
			criterion (0|1|2|4|5|6|7) #IMPLIED
			direction (0|1|2|3|4) #IMPLIED
			traction CDATA #IMPLIED>
<!ELEMENT	MovePlane EMPTY>
<!ATTLIST	MovePlane
			prevent (yes|YES|Yes|no|No|NO) #IMPLIED
			type (cm|CM|Cm|avg|Avg|AVG) #IMPLIED>
<!ELEMENT	ContactPosition (#PCDATA)>
<!ELEMENT	CrackParticleSize (#PCDATA)>
<!ELEMENT	ShiftCracks EMPTY>
<!ELEMENT	PropagateLength (#PCDATA)>
<!ELEMENT	JContour EMPTY>
<!ATTLIST	JContour
			type (1|2) #IMPLIED
			size CDATA #IMPLIED
			gridenergy (0|1) #IMPLIED
			terms (1|2) #IMPLIED>
<!ELEMENT	MPMMethod (#PCDATA)>
<!ELEMENT	Timing EMPTY>
<!ATTLIST	Timing
			step CDATA #IMPLIED
			max CDATA #IMPLIED
			CFL CDATA #IMPLIED
			TransCFL CDATA #IMPLIED
			units CDATA #IMPLIED>
<!ELEMENT	ArchiveGroup EMPTY>
<!ATTLIST	ArchiveGroup
			time CDATA #REQUIRED
			start CDATA #IMPLIED
			maxProps CDATA #IMPLIED
			units CDATA #IMPLIED>
<!ELEMENT	GlobalArchive EMPTY>
<!ATTLIST	GlobalArchive
			type CDATA #REQUIRED
			material CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			pt CDATA #IMPLIED>
<!ELEMENT	ArchiveRoot (#PCDATA)>
<!ATTLIST	ArchiveRoot
			unique (0|1) #IMPLIED>
<!ELEMENT	MPMArchiveOrder (#PCDATA)>
<!ELEMENT	MPMArchive EMPTY>
<!ATTLIST	MPMArchive
			result CDATA #REQUIRED
			setting CDATA #IMPLIED>
<!ELEMENT	CrackArchiveOrder (#PCDATA)>
<!ELEMENT	DefGradTerms (#PCDATA)>
<!ELEMENT	ProgSteps (#PCDATA)>
<!ELEMENT	Damping (#PCDATA)>
<!ATTLIST	Damping
			function CDATA #IMPLIED
            PIC CDATA #IMPLIED>
<!ELEMENT	FDamping (#PCDATA)>
<!ATTLIST	FDamping
			function CDATA #IMPLIED>
<!ELEMENT	PDamping (#PCDATA)>
<!ATTLIST	PDamping
			function CDATA #IMPLIED
            PIC CDATA #IMPLIED>
<!ELEMENT	FeedbackDamping (#PCDATA)>
<!ATTLIST	FeedbackDamping
			target CDATA #IMPLIED
            max CDATA #IMPLIED>
<!ELEMENT	PFeedbackDamping (#PCDATA)>
<!ATTLIST	PFeedbackDamping
			target CDATA #IMPLIED
            max CDATA #IMPLIED>
<!ELEMENT	BodyXForce (#PCDATA)>
<!ELEMENT	BodyYForce (#PCDATA)>
<!ELEMENT	BodyZForce (#PCDATA)>
<!ELEMENT	GridBodyXForce (#PCDATA)>
<!ELEMENT	GridBodyYForce (#PCDATA)>
<!ELEMENT	GridBodyZForce (#PCDATA)>
<!ELEMENT	Isothermal (#PCDATA)>
<!ATTLIST	Isothermal
			time CDATA #IMPLIED
			start CDATA #IMPLIED>
<!ELEMENT	StressFreeTemp (#PCDATA)>
<!ELEMENT	LeaveLimit (#PCDATA)>
<!ELEMENT   DeleteLimit (#PCDATA)>
<!ELEMENT   RestartScaling (#PCDATA)>
<!ATTLIST   RestartScaling
            CFL CDATA #IMPLIED>
<!ELEMENT	CPDIrcrit (#PCDATA)>
<!ELEMENT	ExtrapolateRigid EMPTY>
<!ELEMENT	SkipPostExtrapolation EMPTY>
<!ELEMENT	GIMP EMPTY>
<!ATTLIST	GIMP
			type (Dirac|uGIMP|lCPDI|qCPDI|Finite|B2GIMP|B2SPLINE|B2CPDI) #IMPLIED>
<!ELEMENT	Diffusion EMPTY>
<!ATTLIST	Diffusion
			reference CDATA #IMPLIED
            style CDATA #IMPLIED
            nolimit CDATA #IMPLIED>
<!ELEMENT	Conduction EMPTY>
<!ELEMENT	CrackTipHeating EMPTY>
<!ELEMENT	CrackContactHeating EMPTY>
<!ELEMENT	ContactHeating EMPTY>
<!ELEMENT	EnergyCoupling EMPTY>

<!ELEMENT	rho (#PCDATA)>
<!ELEMENT	E (#PCDATA)>
<!ELEMENT	nu (#PCDATA)>
<!ELEMENT	G (#PCDATA)>
<!ELEMENT	alpha (#PCDATA)>
<!ELEMENT	beta (#PCDATA)>
<!ELEMENT	yield (#PCDATA)>
<!ELEMENT	yieldMin (#PCDATA)>
<!ELEMENT	yldxx (#PCDATA)>
<!ELEMENT	yldyy (#PCDATA)>
<!ELEMENT	yldzz (#PCDATA)>
<!ELEMENT	yldxy (#PCDATA)>
<!ELEMENT	yldxz (#PCDATA)>
<!ELEMENT	yldyz (#PCDATA)>
<!ELEMENT	Hardening (#PCDATA)>
<!ELEMENT	Khard (#PCDATA)>
<!ELEMENT	nhard (#PCDATA)>
<!ELEMENT   exphard (#PCDATA)>
<!ELEMENT   alphaMax (#PCDATA)>
<!ELEMENT   HillStyle (#PCDATA)>
<!ELEMENT	Ajc (#PCDATA)>
<!ELEMENT	Bjc (#PCDATA)>
<!ELEMENT	njc (#PCDATA)>
<!ELEMENT	Cjc (#PCDATA)>
<!ELEMENT	Djc (#PCDATA)>
<!ELEMENT	n2jc (#PCDATA)>
<!ELEMENT	ep0jc (#PCDATA)>
<!ELEMENT	mjc (#PCDATA)>
<!ELEMENT	Tmjc (#PCDATA)>
<!ELEMENT	EA (#PCDATA)>
<!ELEMENT	ET (#PCDATA)>
<!ELEMENT	Ep (#PCDATA)>
<!ELEMENT	GA (#PCDATA)>
<!ELEMENT	nuA (#PCDATA)>
<!ELEMENT	nuT (#PCDATA)>
<!ELEMENT	alphaA (#PCDATA)>
<!ELEMENT	alphaT (#PCDATA)>
<!ELEMENT	betaA (#PCDATA)>
<!ELEMENT	betaT (#PCDATA)>
<!ELEMENT	Ex (#PCDATA)>
<!ELEMENT	Ey (#PCDATA)>
<!ELEMENT	Ez (#PCDATA)>
<!ELEMENT	ER (#PCDATA)>
<!ELEMENT	EZ (#PCDATA)>
<!ELEMENT	Gxy (#PCDATA)>
<!ELEMENT	Gyx (#PCDATA)>
<!ELEMENT	Gxz (#PCDATA)>
<!ELEMENT	Gzx (#PCDATA)>
<!ELEMENT	Gyz (#PCDATA)>
<!ELEMENT	Gzy (#PCDATA)>
<!ELEMENT	GRZ (#PCDATA)>
<!ELEMENT	GZR (#PCDATA)>
<!ELEMENT	GRT (#PCDATA)>
<!ELEMENT	GTR (#PCDATA)>
<!ELEMENT	GZT (#PCDATA)>
<!ELEMENT	GTZ (#PCDATA)>
<!ELEMENT	nuxy (#PCDATA)>
<!ELEMENT	nuyz (#PCDATA)>
<!ELEMENT	nuxz (#PCDATA)>
<!ELEMENT	nuyx (#PCDATA)>
<!ELEMENT	nuzy (#PCDATA)>
<!ELEMENT	nuzx (#PCDATA)>
<!ELEMENT	nuRZ (#PCDATA)>
<!ELEMENT	nuZR (#PCDATA)>
<!ELEMENT	nuRT (#PCDATA)>
<!ELEMENT	nuTR (#PCDATA)>
<!ELEMENT	nuZT (#PCDATA)>
<!ELEMENT	nuTZ (#PCDATA)>
<!ELEMENT	alphax (#PCDATA)>
<!ELEMENT	alphay (#PCDATA)>
<!ELEMENT	alphaz (#PCDATA)>
<!ELEMENT	alphaR (#PCDATA)>
<!ELEMENT	alphaZ (#PCDATA)>
<!ELEMENT	betax (#PCDATA)>
<!ELEMENT	betay (#PCDATA)>
<!ELEMENT	betaz (#PCDATA)>
<!ELEMENT	betaR (#PCDATA)>
<!ELEMENT	betaZ (#PCDATA)>
<!ELEMENT	CritComp (#PCDATA)>
<!ELEMENT	CritTens (#PCDATA)>
<!ELEMENT	xihard (#PCDATA)>
<!ELEMENT	Elastic (#PCDATA)>
<!ELEMENT	KIc (#PCDATA)>
<!ELEMENT	KIexp (#PCDATA)>
<!ELEMENT	KIIc (#PCDATA)>
<!ELEMENT	KIIexp (#PCDATA)>
<!ELEMENT	JIc (#PCDATA)>
<!ELEMENT	JIIc (#PCDATA)>
<!ELEMENT	nmix (#PCDATA)>
<!ELEMENT	sigmaI (#PCDATA)>
<!ELEMENT	sigmaI2 (#PCDATA)>
<!ELEMENT	sigmaII (#PCDATA)>
<!ELEMENT	sigmaII2 (#PCDATA)>
<!ELEMENT   model (#PCDATA)>
<!ELEMENT   modelI (#PCDATA)>
<!ELEMENT   modelII (#PCDATA)>
<!ELEMENT   NewtonsMethod (#PCDATA)>
<!ELEMENT	stress (#PCDATA)>
<!ELEMENT	minCOD (#PCDATA)>
<!ELEMENT	function (#PCDATA)>
<!ELEMENT	kIe (#PCDATA)>
<!ELEMENT	kIIe (#PCDATA)>
<!ELEMENT	delpkI (#PCDATA)>
<!ELEMENT	delpkI2 (#PCDATA)>
<!ELEMENT	delpkII (#PCDATA)>
<!ELEMENT	delpkII2 (#PCDATA)>
<!ELEMENT	delIc (#PCDATA)>
<!ELEMENT	delIIc (#PCDATA)>
<!ELEMENT   alphaI (#PCDATA)>
<!ELEMENT   alphaII (#PCDATA)>
<!ELEMENT	constantTip (#PCDATA)>
<!ELEMENT	D (#PCDATA)>
<!ELEMENT	DA (#PCDATA)>
<!ELEMENT	DT (#PCDATA)>
<!ELEMENT	Dx (#PCDATA)>
<!ELEMENT	Dy (#PCDATA)>
<!ELEMENT	Dz (#PCDATA)>
<!ELEMENT	DR (#PCDATA)>
<!ELEMENT	DZ (#PCDATA)>
<!ELEMENT	D0 (#PCDATA)>
<!ELEMENT	Dd (#PCDATA)>
<!ELEMENT	csat (#PCDATA)>
<!ELEMENT	SettingFunction (#PCDATA)>
<!ELEMENT	SettingFunction2 (#PCDATA)>
<!ELEMENT	SettingFunction3 (#PCDATA)>
<!ELEMENT	ValueFunction (#PCDATA)>
<!ELEMENT	InitialPressure (#PCDATA)>
<!ELEMENT	kCond (#PCDATA)>
<!ELEMENT	kCondA (#PCDATA)>
<!ELEMENT	kCondT (#PCDATA)>
<!ELEMENT	kCondx (#PCDATA)>
<!ELEMENT	kCondy (#PCDATA)>
<!ELEMENT	kCondz (#PCDATA)>
<!ELEMENT	kCond0 (#PCDATA)>
<!ELEMENT	kCondd (#PCDATA)>
<!ELEMENT	kCondR (#PCDATA)>
<!ELEMENT	kCondZ (#PCDATA)>
<!ELEMENT	P0 (#PCDATA)>
<!ELEMENT	T0 (#PCDATA)>
<!ELEMENT   vdwa (#PCDATA)>
<!ELEMENT   vdwb (#PCDATA)>
<!ELEMENT   mu0 (#PCDATA)>
<!ELEMENT   Smu (#PCDATA)>
<!ELEMENT	Cp (#PCDATA)>
<!ELEMENT	Cv (#PCDATA)>
<!ELEMENT	viscosity (#PCDATA)>
<!ELEMENT	logshearrate (#PCDATA)>
<!ELEMENT	speed (#PCDATA)>
<!ELEMENT	xGrow (#PCDATA)>
<!ELEMENT	yGrow (#PCDATA)>
<!ELEMENT	initTime (#PCDATA)>
<!ELEMENT	maxLength (#PCDATA)>
<!ELEMENT	K (#PCDATA)>
<!ELEMENT	Lame (#PCDATA)>
<!ELEMENT	largeRotation (#PCDATA)>
<!ELEMENT   swapz (#PCDATA)>
<!ELEMENT	Dn (#PCDATA)>
<!ELEMENT	Dnt (#PCDATA)>
<!ELEMENT	Dnc (#PCDATA)>
<!ELEMENT	Dt (#PCDATA)>
<!ELEMENT	order (#PCDATA)>
<!ELEMENT	coeff (#PCDATA)>
<!ELEMENT	coeffStatic (#PCDATA)>
<!ELEMENT	displacementOnly (#PCDATA)>
<!ELEMENT	Dc (#PCDATA)>
<!ELEMENT	shareMatField (#PCDATA)>
<!ELEMENT	G0 (#PCDATA)>
<!ELEMENT	ntaus (#PCDATA)>
<!ELEMENT	Gk (#PCDATA)>
<!ELEMENT	tauk (#PCDATA)>
<!ELEMENT   ntausK (#PCDATA)>
<!ELEMENT   Kk (#PCDATA)>
<!ELEMENT   tauKk (#PCDATA)>
<!ELEMENT   C1 (#PCDATA)>
<!ELEMENT   C2 (#PCDATA)>
<!ELEMENT   Tref (#PCDATA)>
<!ELEMENT   Cm1 (#PCDATA)>
<!ELEMENT   Cm2 (#PCDATA)>
<!ELEMENT   mref (#PCDATA)>
<!ELEMENT   kMS (#PCDATA)>
<!ELEMENT   Cms1 (#PCDATA)>
<!ELEMENT   Cms2 (#PCDATA)>
<!ELEMENT   GT0 (#PCDATA)>
<!ELEMENT   GA0 (#PCDATA)>
<!ELEMENT   KT0 (#PCDATA)>
<!ELEMENT   en0 (#PCDATA)>
<!ELEMENT   ell0 (#PCDATA)>
<!ELEMENT   Pk (#PCDATA)>
<!ELEMENT	G1 (#PCDATA)>
<!ELEMENT	G2 (#PCDATA)>
<!ELEMENT	IdealRubber (#PCDATA)>
<!ELEMENT	UJOption (#PCDATA)>
<!ELEMENT	ArtificialVisc EMPTY>
<!ELEMENT	avA1 (#PCDATA)>
<!ELEMENT	avA2 (#PCDATA)>
<!ELEMENT	Uk (#PCDATA)>
<!ELEMENT	YP (#PCDATA)>
<!ELEMENT	K0 (#PCDATA)>
<!ELEMENT	Kd (#PCDATA)>
<!ELEMENT	Gd (#PCDATA)>
<!ELEMENT	alpha0 (#PCDATA)>
<!ELEMENT	alphad (#PCDATA)>
<!ELEMENT	beta0 (#PCDATA)>
<!ELEMENT	betad (#PCDATA)>
<!ELEMENT	transition (#PCDATA)>
<!ELEMENT	critical (#PCDATA)>
<!ELEMENT	DeltaVOffset (#PCDATA)>
<!ELEMENT	reversible EMPTY>
<!ELEMENT	irreversible EMPTY>
<!ELEMENT	SetDirection (#PCDATA)>
<!ELEMENT	mirrored (#PCDATA)>
<!ELEMENT	SetTemperature EMPTY>
<!ELEMENT	SetConcentration EMPTY>
<!ELEMENT	color EMPTY>
<!ATTLIST	color
			red CDATA #REQUIRED
			green CDATA #IMPLIED
			blue CDATA #IMPLIED
            alpha CDATA #IMPLIED>
<!ELEMENT	betahard (#PCDATA)>
<!ELEMENT	pressureLaw (#PCDATA)>
<!ELEMENT	C0 (#PCDATA)>
<!ELEMENT	S1 (#PCDATA)>
<!ELEMENT	S2 (#PCDATA)>
<!ELEMENT	S3 (#PCDATA)>
<!ELEMENT	GPpG0 (#PCDATA)>
<!ELEMENT	GTpG0 (#PCDATA)>
<!ELEMENT	yieldMax (#PCDATA)>
<!ELEMENT	gamma0 (#PCDATA)>
<!ELEMENT	C1SL (#PCDATA)>
<!ELEMENT	C2SL (#PCDATA)>
<!ELEMENT	tempC1 (#PCDATA)>
<!ELEMENT	tempC2 (#PCDATA)>
<!ELEMENT	tayM (#PCDATA)>
<!ELEMENT	rhoW (#PCDATA)>
<!ELEMENT	rhoC (#PCDATA)>
<!ELEMENT	fo (#PCDATA)>
<!ELEMENT	flim (#PCDATA)>
<!ELEMENT	fsto (#PCDATA)>
<!ELEMENT	sto (#PCDATA)>
<!ELEMENT	m (#PCDATA)>
<!ELEMENT	n (#PCDATA)>
<!ELEMENT	alp (#PCDATA)>
<!ELEMENT	burg (#PCDATA)>
<!ELEMENT	K1 (#PCDATA)>
<!ELEMENT	alpstar (#PCDATA)>
<!ELEMENT	betastar (#PCDATA)>
<!ELEMENT	k0 (#PCDATA)>
<!ELEMENT	Atd (#PCDATA)>
<!ELEMENT	Btd (#PCDATA)>
<!ELEMENT	tempDepend (#PCDATA)>
<!ELEMENT	MMG (#PCDATA)>
<!ELEMENT	Initiation (#PCDATA)>
<!ELEMENT	SofteningI (#PCDATA)>
<!ELEMENT	SofteningII (#PCDATA)>
<!ELEMENT	shearFailureSurface (#PCDATA)>
<!ELEMENT	tractionFailureSurface (#PCDATA)>
<!ELEMENT	coefVariation (#PCDATA)>
<!ELEMENT	coefVariationMode (#PCDATA)>
<!ELEMENT	statDistributionMode (#PCDATA)>
<!ELEMENT	wShape (#PCDATA)>
<!ELEMENT	wV0 (#PCDATA)>
<!ELEMENT	sigmac (#PCDATA)>
<!ELEMENT	tauc (#PCDATA)>
<!ELEMENT	I-Gc (#PCDATA)>
<!ELEMENT	II-Gc (#PCDATA)>
<!ELEMENT	I-min (#PCDATA)>
<!ELEMENT	II-min (#PCDATA)>
<!ELEMENT	I-k (#PCDATA)>
<!ELEMENT	II-k (#PCDATA)>
<!ELEMENT	I-alpha (#PCDATA)>
<!ELEMENT	II-alpha (#PCDATA)>
<!ELEMENT	I-beta (#PCDATA)>
<!ELEMENT	II-beta (#PCDATA)>

<!ELEMENT	pt EMPTY>
<!ATTLIST	pt
			units CDATA #IMPLIED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			z CDATA #IMPLIED
			tip CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>

<!-- This element is overloaded and used as shape and to define cracks -->
<!ELEMENT	Line
			( Rect | Oval | Polygon | Line | Arc )* >
<!ATTLIST	Line
			units CDATA #IMPLIED
			xmin CDATA #IMPLIED
			ymin CDATA #IMPLIED
			zmin CDATA #IMPLIED
			xmax CDATA #IMPLIED
			ymax CDATA #IMPLIED
			zmax CDATA #IMPLIED
			x1 CDATA #IMPLIED
			y1 CDATA #IMPLIED
			z1 CDATA #IMPLIED
			x2 CDATA #IMPLIED
			y2 CDATA #IMPLIED
			z2 CDATA #IMPLIED
			tolerance CDATA #IMPLIED
			resolution CDATA #IMPLIED
			start_tip CDATA #IMPLIED
			end_tip CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>

<!ELEMENT	Circle EMPTY>
<!ATTLIST	Circle
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			ymin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymax CDATA #REQUIRED
			resolution CDATA #REQUIRED
			start_angle CDATA #IMPLIED
			end_angle CDATA #IMPLIED
			start_tip CDATA #IMPLIED
			end_tip CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>

<!ELEMENT	Plane EMPTY>
<!ATTLIST	Plane
			V0x CDATA #REQUIRED
			V0y CDATA #REQUIRED
			V0z CDATA #REQUIRED
			V1x CDATA #REQUIRED
			V1y CDATA #REQUIRED
			V1z CDATA #REQUIRED
			V2x CDATA #REQUIRED
			V2y CDATA #REQUIRED
			V2z CDATA #REQUIRED
			N1 CDATA #IMPLIED
			N2 CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			length CDATA #IMPLIED>

<!ELEMENT	elem (#PCDATA)>
<!ATTLIST	elem
			type (1|2|7) "2"
			length CDATA #IMPLIED
			czm CDATA #IMPLIED
			czmname CDATA #IMPLIED>

<!ELEMENT	Horiz EMPTY>
<!ATTLIST	Horiz
			nx CDATA #IMPLIED
			cellsize CDATA #IMPLIED
			symmin CDATA #IMPLIED
			symmax CDATA #IMPLIED
			rx CDATA #IMPLIED
			style CDATA #IMPLIED>

<!ELEMENT	Vert EMPTY>
<!ATTLIST	Vert
			ny CDATA #IMPLIED
			cellsize CDATA #IMPLIED
			symmin CDATA #IMPLIED
			symmax CDATA #IMPLIED
			ry CDATA #IMPLIED
			style CDATA #IMPLIED>
			
<!ELEMENT	Depth EMPTY>
<!ATTLIST	Depth
			nz CDATA #IMPLIED
			cellsize CDATA #IMPLIED
			symmin CDATA #IMPLIED
			symmax CDATA #IMPLIED
			rz CDATA #IMPLIED
			style CDATA #IMPLIED>

<!ELEMENT	vel EMPTY>
<!ATTLIST	vel
			units CDATA #IMPLIED
			x CDATA #IMPLIED
			y CDATA #IMPLIED
			z CDATA #IMPLIED>

<!ELEMENT	mass EMPTY>
<!ATTLIST	mass
			units CDATA #IMPLIED
			m CDATA #REQUIRED>

<!ELEMENT	vel0X (#PCDATA)>
<!ELEMENT	vel0Y (#PCDATA)>
<!ELEMENT	vel0Z (#PCDATA)>
<!ELEMENT	RotateX (#PCDATA)>
<!ELEMENT	RotateY (#PCDATA)>
<!ELEMENT	RotateZ (#PCDATA)>
<!ELEMENT	Unrotate EMPTY>

<!ELEMENT	Rect
			( arc?, ( Rect | Oval | Polygon | Line | Arc )* )>
<!ATTLIST	Rect
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED>

<!ELEMENT	Box
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Box
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED>

<!ELEMENT	Shell
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Shell
			units CDATA #IMPLIED
			xmin CDATA #IMPLIED
			xmax CDATA #IMPLIED
			ymin CDATA #IMPLIED
			ymax CDATA #IMPLIED
			zmin CDATA #IMPLIED
			zmax CDATA #IMPLIED
			axis CDATA #REQUIRED
            radius CDATA #REQUIRED
			thickness CDATA #REQUIRED>

<!ELEMENT	Oval
			( arc?, ( Rect | Oval | Polygon | Line | Arc )* )>
<!ATTLIST	Oval
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED>

<!ELEMENT	arc EMPTY>
<!ATTLIST	arc
			start CDATA #REQUIRED
			end CDATA #REQUIRED>

<!ELEMENT	Arc
			( Rect | Oval | Polygon | Line | Arc )* >
<!ATTLIST	Arc
			units CDATA #IMPLIED
			xmin CDATA #IMPLIED
			ymin CDATA #IMPLIED
			xmax CDATA #IMPLIED
			ymax CDATA #IMPLIED
			x1 CDATA #IMPLIED
			y1 CDATA #IMPLIED
			x2 CDATA #IMPLIED
			y2 CDATA #IMPLIED
			tolerance CDATA #IMPLIED
			start CDATA #IMPLIED
			end CDATA #IMPLIED>

<!ELEMENT	Sphere
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Sphere
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED>

<!ELEMENT	Cylinder
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Cylinder
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED
			axis CDATA #REQUIRED
            radius CDATA #IMPLIED>

<!ELEMENT	Torus
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Torus
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED
			axis CDATA #REQUIRED
            radius CDATA #IMPLIED>

<!ELEMENT	faces (#PCDATA)>
<!ATTLIST	faces
			units CDATA #IMPLIED
			style CDATA #REQUIRED>

<!ELEMENT	DisBC EMPTY>
<!ATTLIST	DisBC
			dir CDATA #REQUIRED
			disp CDATA #IMPLIED
			vel CDATA #IMPLIED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			ftime CDATA #IMPLIED
			angle CDATA #IMPLIED
			angle2 CDATA #IMPLIED
			function CDATA #IMPLIED
			depth CDATA #IMPLIED
			gradfxn CDATA #IMPLIED
			dispfxn CDATA #IMPLIED
			id CDATA #IMPLIED>

<!ELEMENT	ConcBC EMPTY>
<!ATTLIST	ConcBC
			value CDATA #IMPLIED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			function CDATA #IMPLIED
            phase (1|2|3|4|5) #IMPLIED
            id CDATA #IMPLIED>

<!ELEMENT	ConcFluxBC EMPTY>
<!ATTLIST	ConcFluxBC
			dir CDATA #REQUIRED
			value CDATA #IMPLIED
			style (1|2|3|4|5|6) "1"
			time CDATA #IMPLIED
			bath CDATA #IMPLIED
			face CDATA #IMPLIED
			function CDATA #IMPLIED
            phase (1|2|3|4|5) #IMPLIED>

<!ELEMENT	HeatFluxBC EMPTY>
<!ATTLIST	HeatFluxBC
			dir CDATA #REQUIRED
			value CDATA #IMPLIED
			style (1|2|3|4|5|6) "1"
			time CDATA #IMPLIED
			face CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	TempBC EMPTY>
<!ATTLIST	TempBC
			value CDATA #IMPLIED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			function CDATA #IMPLIED
            id CDATA #IMPLIED>

<!ELEMENT	net EMPTY>
<!ELEMENT	perParticle EMPTY>

<!ELEMENT	fix (#PCDATA)>
<!ATTLIST	fix
			node CDATA #REQUIRED
			dof CDATA #REQUIRED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			angle CDATA #IMPLIED
			angle2 CDATA #IMPLIED
            id CDATA #IMPLIED>

<!ELEMENT	load (#PCDATA)>
<!ATTLIST	load
			node CDATA #IMPLIED
			pt CDATA #IMPLIED
			dof CDATA #REQUIRED
			style (1|2|3|4|5|6) "1">
			
<!ELEMENT	LoadBC EMPTY>
<!ATTLIST	LoadBC
			dir CDATA #REQUIRED
			style (1|2|3|4|5|6) "1"
			load CDATA #IMPLIED
			ftime CDATA #IMPLIED
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	TractionBC EMPTY>
<!ATTLIST	TractionBC
			dir CDATA #REQUIRED
			style (1|2|3|4|6) "1"
            face (1|2|3|4|5|6) #IMPLIED
			stress CDATA #IMPLIED
			ftime CDATA #IMPLIED
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	Parameter (#PCDATA)>
<!ATTLIST	Parameter
			name CDATA #REQUIRED>

<!ELEMENT	Origin EMPTY>
<!ATTLIST	Origin
			units CDATA #IMPLIED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			z CDATA #IMPLIED
			flipped CDATA #IMPLIED>
<!ELEMENT	Angle (#PCDATA)>
<!ELEMENT	Thickness (#PCDATA)>
<!ATTLIST	Thickness
			units CDATA #IMPLIED>
<!ELEMENT	Temperature (#PCDATA)>
<!ELEMENT	Concentration (#PCDATA)>

<!ELEMENT	Kmax (#PCDATA)>
<!ELEMENT	Sa (#PCDATA)>
<!ELEMENT	Na (#PCDATA)>
<!ELEMENT	kmu (#PCDATA)>
<!ELEMENT	vhalf (#PCDATA)>
<!ELEMENT	LiquidPhase (#PCDATA)>

<!ELEMENT	NeedsMechanics EMPTY>

<!ELEMENT	Xpatches (#PCDATA)>
<!ELEMENT	Ypatches (#PCDATA)>
<!ELEMENT	Zpatches (#PCDATA)>

<!-- ==============================================
		OSParticulas only ELEMENTS (with no children)
================================================-->

<!ELEMENT	XPIC EMPTY>
<!ATTLIST	XPIC
			order CDATA #IMPLIED>
<!ELEMENT	TrackParticleSpin EMPTY>
<!ELEMENT	TrackGradV EMPTY>
<!ELEMENT	ExactTractions EMPTY>

<!ELEMENT	Border EMPTY>
<!ATTLIST	Border
			xmin CDATA #IMPLIED
			xmax CDATA #IMPLIED
			ymin CDATA #IMPLIED
			ymax CDATA #IMPLIED
			zmin CDATA #IMPLIED
			zmax CDATA #IMPLIED>

<!ELEMENT	AreaOfInterest EMPTY>
<!ATTLIST	AreaOfInterest
			x1 CDATA #IMPLIED
			x2 CDATA #IMPLIED
			y1 CDATA #IMPLIED
			y2 CDATA #IMPLIED
			z1 CDATA #IMPLIED
			z2 CDATA #IMPLIED
			nx CDATA #IMPLIED
			ny CDATA #IMPLIED
			nz CDATA #IMPLIED>

<!ELEMENT	Poroelasticity EMPTY>
<!ATTLIST	Poroelasticity
			reference CDATA #IMPLIED
			viscosity CDATA #IMPLIED>
<!ELEMENT	TransportOnly EMPTY>

<!ELEMENT	ContactHeatFlow EMPTY>
<!ATTLIST	ContactHeatFlow
			contactH CDATA #IMPLIED
			sepH CDATA #IMPLIED
			contactExtra CDATA #IMPLIED
			sepExtra CDATA #IMPLIED
			contact (equilibrated|convection) #IMPLIED
			separated (equilibrated|convection) #IMPLIED>

<!ELEMENT	allowsCracks (#PCDATA)>
<!ELEMENT	tauh (#PCDATA)>
<!ELEMENT   P1 (#PCDATA)>
<!ELEMENT   P2 (#PCDATA)>
<!ELEMENT   PressureModel (#PCDATA)>
<!ELEMENT	maxPressure (#PCDATA)>
<!ELEMENT   PDTol (#PCDATA)>
<!ELEMENT   PDPasses (#PCDATA)>
<!ELEMENT	sigmacA (#PCDATA)>
<!ELEMENT	taucA (#PCDATA)>
<!ELEMENT	taucT (#PCDATA)>
<!ELEMENT	AI-Gc (#PCDATA)>
<!ELEMENT	TII-Gc (#PCDATA)>
<!ELEMENT	AII-Gc (#PCDATA)>
<!ELEMENT	AI-min (#PCDATA)>
<!ELEMENT	TII-min (#PCDATA)>
<!ELEMENT	AII-min (#PCDATA)>
<!ELEMENT	AI-k (#PCDATA)>
<!ELEMENT	TII-k (#PCDATA)>
<!ELEMENT	AII-k (#PCDATA)>
<!ELEMENT	AI-alpha (#PCDATA)>
<!ELEMENT	TII-alpha (#PCDATA)>
<!ELEMENT	AII-alpha (#PCDATA)>
<!ELEMENT	AI-beta (#PCDATA)>
<!ELEMENT	TII-beta (#PCDATA)>
<!ELEMENT	AII-beta (#PCDATA)>
<!ELEMENT	sigmaXXc (#PCDATA)>
<!ELEMENT	sigmaYYc (#PCDATA)>
<!ELEMENT	sigmaZZc (#PCDATA)>
<!ELEMENT	tauXY-Xc (#PCDATA)>
<!ELEMENT	tauXY-Yc (#PCDATA)>
<!ELEMENT	tauXZ-Xc (#PCDATA)>
<!ELEMENT	tauXZ-Zc (#PCDATA)>
<!ELEMENT	tauYZ-Yc (#PCDATA)>
<!ELEMENT	tauYZ-Zc (#PCDATA)>
<!ELEMENT	SofteningAI (#PCDATA)>
<!ELEMENT	SofteningAII (#PCDATA)>
<!ELEMENT	SofteningTII (#PCDATA)>
<!ELEMENT	SofteningXX (#PCDATA)>
<!ELEMENT	SofteningYY (#PCDATA)>
<!ELEMENT	SofteningZZ (#PCDATA)>
<!ELEMENT	SofteningXYX (#PCDATA)>
<!ELEMENT	SofteningXYY (#PCDATA)>
<!ELEMENT	SofteningYZY (#PCDATA)>
<!ELEMENT	SofteningYZZ (#PCDATA)>
<!ELEMENT	SofteningXZX (#PCDATA)>
<!ELEMENT	SofteningXZZ (#PCDATA)>
<!ELEMENT	XX-Gc (#PCDATA)>
<!ELEMENT	YY-Gc (#PCDATA)>
<!ELEMENT	ZZ-Gc (#PCDATA)>
<!ELEMENT	XYX-Gc (#PCDATA)>
<!ELEMENT	XYY-Gc (#PCDATA)>
<!ELEMENT	XZX-Gc (#PCDATA)>
<!ELEMENT	XZZ-Gc (#PCDATA)>
<!ELEMENT	YZY-Gc (#PCDATA)>
<!ELEMENT	YZZ-Gc (#PCDATA)>
<!ELEMENT	XX-min (#PCDATA)>
<!ELEMENT	YY-min (#PCDATA)>
<!ELEMENT	ZZ-min (#PCDATA)>
<!ELEMENT	XYX-min (#PCDATA)>
<!ELEMENT	XYY-min (#PCDATA)>
<!ELEMENT	XZX-min (#PCDATA)>
<!ELEMENT	XZZ-min (#PCDATA)>
<!ELEMENT	YZY-min (#PCDATA)>
<!ELEMENT	YZZ-min (#PCDATA)>
<!ELEMENT	XX-k (#PCDATA)>
<!ELEMENT	YY-k (#PCDATA)>
<!ELEMENT	ZZ-k (#PCDATA)>
<!ELEMENT	XYX-k (#PCDATA)>
<!ELEMENT	XYY-k (#PCDATA)>
<!ELEMENT	XZX-k (#PCDATA)>
<!ELEMENT	XZZ-k (#PCDATA)>
<!ELEMENT	YZY-k (#PCDATA)>
<!ELEMENT	YZZ-k (#PCDATA)>
<!ELEMENT	XX-alpha (#PCDATA)>
<!ELEMENT	YY-alpha (#PCDATA)>
<!ELEMENT	ZZ-alpha (#PCDATA)>
<!ELEMENT	XYX-alpha (#PCDATA)>
<!ELEMENT	XYY-alpha (#PCDATA)>
<!ELEMENT	XZX-alpha (#PCDATA)>
<!ELEMENT	XZZ-alpha (#PCDATA)>
<!ELEMENT	YZY-alpha (#PCDATA)>
<!ELEMENT	YZZ-alpha (#PCDATA)>
<!ELEMENT	XX-beta (#PCDATA)>
<!ELEMENT	YY-beta (#PCDATA)>
<!ELEMENT	ZZ-beta (#PCDATA)>
<!ELEMENT	XYX-beta (#PCDATA)>
<!ELEMENT	XYY-beta (#PCDATA)>
<!ELEMENT	XZX-beta (#PCDATA)>
<!ELEMENT	XZZ-beta (#PCDATA)>
<!ELEMENT	YZY-beta (#PCDATA)>
<!ELEMENT	YZZ-beta (#PCDATA)>
<!ELEMENT	nonLocalRadius (#PCDATA)>
<!ELEMENT   nonLocalMode (#PCDATA)>
<!ELEMENT	SolidPhase (#PCDATA)>
<!ELEMENT	Tmelt (#PCDATA)>
<!ELEMENT	Tsigma (#PCDATA)>
<!ELEMENT	DeltaT (#PCDATA)>
<!ELEMENT	Hfusion (#PCDATA)>
<!ELEMENT	alphaPE (#PCDATA)>
<!ELEMENT	Ku (#PCDATA)>
<!ELEMENT	viscosityPE (#PCDATA)>
<!ELEMENT	alphaAPE (#PCDATA)>
<!ELEMENT	alphaTPE (#PCDATA)>
<!ELEMENT	alphaxPE (#PCDATA)>
<!ELEMENT	alphayPE (#PCDATA)>
<!ELEMENT	alphazPE (#PCDATA)>
<!ELEMENT	alphaRPE (#PCDATA)>
<!ELEMENT	alphaZPE (#PCDATA)>
<!ELEMENT	Darcy (#PCDATA)>
<!ELEMENT	DarcyA (#PCDATA)>
<!ELEMENT	DarcyT (#PCDATA)>
<!ELEMENT	Darcyx (#PCDATA)>
<!ELEMENT	Darcyy (#PCDATA)>
<!ELEMENT	Darcyz (#PCDATA)>
<!ELEMENT	DarcyR (#PCDATA)>
<!ELEMENT	DarcyZ (#PCDATA)>
<!ELEMENT	Eactivation (#PCDATA)>
<!ELEMENT	maxTemp (#PCDATA)>
<!ELEMENT	PeakShape (#PCDATA)>
<!ELEMENT	PeakArg (#PCDATA)>
<!ELEMENT	time0 (#PCDATA)>
<!ELEMENT	ell (#PCDATA)>
<!ELEMENT	metric (#PCDATA)>
<!ELEMENT	stability (#PCDATA)>
<!ELEMENT	gd (#PCDATA)>
<!ELEMENT	garg (#PCDATA)>
<!ELEMENT	partition (#PCDATA)>

<!ELEMENT	springDir (#PCDATA)>
<!ELEMENT	kstiff (#PCDATA)>
<!ELEMENT	pos0 (#PCDATA)>
<!ELEMENT	dampRatio (#PCDATA)>

<!ELEMENT	nm (#PCDATA)>
<!ELEMENT	Ajwl (#PCDATA)>
<!ELEMENT	Bjwl (#PCDATA)>
<!ELEMENT	Cjwl (#PCDATA)>
<!ELEMENT	R1 (#PCDATA)>
<!ELEMENT	R2 (#PCDATA)>
<!ELEMENT	Omega (#PCDATA)>
<!ELEMENT	Dv (#PCDATA)>
<!ELEMENT	Dw (#PCDATA)>
<!ELEMENT	DeleteDist (#PCDATA)>
<!ELEMENT	StartX (#PCDATA)>
<!ELEMENT	StartY (#PCDATA)>
<!ELEMENT	StartZ (#PCDATA)>
<!ELEMENT	NormX (#PCDATA)>
<!ELEMENT	NormY (#PCDATA)>
<!ELEMENT	NormZ (#PCDATA)>

<!ELEMENT	Lp0X (#PCDATA)>
<!ELEMENT	Lp0Y (#PCDATA)>
<!ELEMENT	Lp0Z (#PCDATA)>

<!ELEMENT	Damage EMPTY>
<!ATTLIST	Damage
            nx CDATA #IMPLIED
            ny CDATA #IMPLIED
            nz CDATA #IMPLIED
            dn CDATA #IMPLIED
            dxy CDATA #IMPLIED
            dxz CDATA #IMPLIED
			mode CDATA #IMPLIED
			phi CDATA #IMPLIED>

<!-- ==============================================
		DEPRECATED ELEMENTS (with no children)
================================================-->

<!ELEMENT	TimeStep (#PCDATA)>
<!ATTLIST	TimeStep
			units CDATA #IMPLIED>
<!ELEMENT	TimeFactor (#PCDATA)>
<!ELEMENT	TransTimeFactor (#PCDATA)>
<!ELEMENT	MaxTime (#PCDATA)>
<!ATTLIST	MaxTime
			units CDATA #IMPLIED>
<!ELEMENT	ArchiveTime (#PCDATA)>
<!ATTLIST	ArchiveTime
			units CDATA #IMPLIED
			maxProps CDATA #IMPLIED>
<!ELEMENT	FirstArchiveTime (#PCDATA)>
<!ATTLIST	FirstArchiveTime
			units CDATA #IMPLIED>
<!ELEMENT	GlobalArchiveTime (#PCDATA)>
<!ATTLIST	GlobalArchiveTime
			units CDATA #IMPLIED>


