NairnMPM/input/NairnMPM.dtd

<!-- ==============================================
		OSParticulas/NairnMPM Input File
================================================-->

<!ELEMENT	JANFEAInput 
			( Header, MPMHeader, Mesh, MaterialPoints, CrackList*, Material+, 
			GridBCs?, ParticleBCs?, Thermal?, Gravity?, CustomTasks?)>
<!ATTLIST	JANFEAInput
			version (1|2|3) "3">			
     
<!-- ==============================================
		BLOCK ELEMENTS
================================================-->

<!-- Headers -->

<!ELEMENT	Header
			( Description | Analysis | DevelFlag | ConsistentUnits )+>

<!ELEMENT	MPMHeader
			( MatlPtsPerElement | Cracks | MPMMethod | Timing | ArchiveGroup | ArchiveRoot | MPMArchiveOrder
			| CrackArchiveOrder | ProgSteps | Damping | FeedbackDamping | GlobalArchive | MPMArchive
			| DefGradTerms | Diffusion | StressFreeTemp | GIMP | LeaveLimit | MultiMaterialMode
            | PDamping | PFeedbackDamping | TimeStep | TimeFactor | MaxTime | ArchiveTime | FirstArchiveTime
			| GlobalArchiveTime | ExtrapolateRigid | SkipPostExtrapolation | TransTimeFactor | NeedsMechanics )*>

<!ELEMENT	Cracks
			( Friction | Propagate | AltPropagate | JContour | MovePlane | ContactPosition | PropagateLength | CrackParticleSize )*>
			
<!ELEMENT	MultiMaterialMode
			( Friction | ContactPosition )*>
<!ATTLIST	MultiMaterialMode
			Vmin CDATA #IMPLIED
			Dcheck (0|1) #IMPLIED
			Normals (0|1|2|3|4|5|6|7) #IMPLIED
			RigidBias CDATA #IMPLIED
			Polar CDATA #IMPLIED
			Azimuth CDATA #IMPLIED>

<!-- Define the mesh -->

<!ELEMENT	Mesh
			(( NodeList, ElementList) | Grid)>
<!ATTLIST	Mesh
			output CDATA #IMPLIED>

<!ELEMENT	NodeList
			( pt* )>
<!-- No longer used but allowed for compatibility -->
<!ATTLIST	NodeList
			number CDATA #IMPLIED>

<!ELEMENT	ElementList
			( elem )*>
<!-- Number no longer used but allowed for compatibility -->
<!ATTLIST	ElementList
			number CDATA #IMPLIED
			form CDATA #IMPLIED>
			
<!ELEMENT	Grid
			( Horiz, Vert, Depth? )>
<!ATTLIST	Grid
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #IMPLIED
			zmax CDATA #IMPLIED
			type (2|7|8) #IMPLIED
			thickness CDATA #IMPLIED>

<!-- Define the material points -->

<!ELEMENT	MaterialPoints
			( PointList | Body | Hole | BMP )+>

<!ELEMENT	PointList
			( mp+ )>

<!ELEMENT	mp
			( pt, vel?, mass? )>
<!ATTLIST	mp
			elem CDATA #IMPLIED
			matl CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			angle CDATA #IMPLIED
			thick CDATA #IMPLIED
			temp CDATA #IMPLIED
			conc CDATA #IMPLIED
			wtconc CDATA #IMPLIED>

<!ELEMENT	Body
			( RotateX | RotateY | RotateZ | Unrotate | Oval | Rect | Polygon
			| Sphere | Box | Cylinder | Polyhedron | Torus | Shell
			| vel0X | vel0Y | vel0Z | Line | Arc
			| Deform | Undeform )*>
<!ATTLIST	Body
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			angle CDATA #IMPLIED
			thick CDATA #IMPLIED
			vx CDATA #IMPLIED
			vy CDATA #IMPLIED
			vz CDATA #IMPLIED
			conc CDATA #IMPLIED
			wtconc CDATA #IMPLIED
			temp CDATA #IMPLIED>
<!ELEMENT	Hole
			( Oval | Rect | Polygon | Sphere | Box | Cylinder | Torus | Shell | Line | Arc )*>

<!ELEMENT	Polygon
			( pt+, ( Rect | Oval | Polygon | Line | Arc )* )>
<!ATTLIST	Polygon
			np CDATA #IMPLIED>

<!ELEMENT	Polyhedron
			( faces+, ( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* )>

<!ELEMENT	BMP
			( Origin | Intensity | RotateX | RotateY | RotateZ | Unrotate )*>
<!ATTLIST	BMP
			units CDATA #IMPLIED
			name CDATA #REQUIRED
			angles CDATA #IMPLIED
			anglesX CDATA #IMPLIED
			anglesY CDATA #IMPLIED
			anglesZ CDATA #IMPLIED
			width CDATA #IMPLIED
			height CDATA #IMPLIED>

<!ELEMENT	Intensity
			( Angle | Thickness | vel | Temperature | Concentration )*>
<!ATTLIST	Intensity
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED
			imin CDATA #REQUIRED
			imax CDATA #REQUIRED
			minAngle CDATA #IMPLIED
			maxAngle CDATA #IMPLIED>
			
<!ELEMENT	Deform EMPTY>
<!ATTLIST	Deform
			dX CDATA #IMPLIED
			dY CDATA #IMPLIED
			dZ CDATA #IMPLIED
			F11 CDATA #IMPLIED
			F12 CDATA #IMPLIED
			F13 CDATA #IMPLIED
			F21 CDATA #IMPLIED
			F22 CDATA #IMPLIED
			F23 CDATA #IMPLIED
			F31 CDATA #IMPLIED
			F32 CDATA #IMPLIED
			F33 CDATA #IMPLIED>
<!ELEMENT	Undeform EMPTY>

<!--- Add optional cracks -->

<!ELEMENT	CrackList
			( pt | Line | Circle | Thickness)*>
<!ATTLIST	CrackList
			type (fixed|free) #IMPLIED
			law CDATA #IMPLIED
			lawname CDATA #IMPLIED
			friction CDATA #IMPLIED
			Dn CDATA #IMPLIED
			Dnt CDATA #IMPLIED
			Dnc CDATA #IMPLIED
			Dt CDATA #IMPLIED>

<!-- Define material properties -->

<!ELEMENT	Material
			( rho | E | nu | G | alpha | yield | yieldMin | beta | yieldMax
				| EA | ET | GA | nuA | nuT | alphaA | alphaT | betaA | betaT | Ep
				| Ex | ER | Ey | EZ | Ez | Gxy | Gyx | GRZ | GZR | Gxz | Gzx
				| GRT | GTR | Gyz | Gzy | GZT | GTZ
				| nuxy | nuyx | nuRZ | nuZR | nuxz | nuzx | nuRT | nuTR | nuyz | nuzy | nuZT | nuTZ
				| alphax | alphay | alphaz | alphaR | alphaZ | largeRotation | Dn | Dnt | Dnc | Dt | coeff | coeffStatic
				| betax | betay | betaz | betaR | betaZ | CritComp | CritTens | xihard | Elastic | displacementOnly | Dc
				| K | G0 | ntaus | Gk | tauk | xGrow | yGrow | Lame | shareMatField
				| G1 | G2 | speed | maxLength | Propagate | AltPropagate | initTime
				| K0 | Kd | Gd | alpha0 | alphad | transition | critical | DeltaVOffset | stress | function | minCOD
				| reversible | irreversible | beta0 | betad | sigmaI | sigmaII | kIe | kIIe | nmix
				| KIc | KIIc | JIc | JIIc | KIexp | KIIexp | delIc | delIIc | delpkI | delpkII
				| sigmaI2 | sigmaII2 | delpkI2 | delpkII2 | ValueFunction | viscosity | InitialPressure
				| D | DA | DT | Dx | Dy | Dz | DR | DZ | D0 | Dd | csat | constantTip | logshearrate
				| SettingFunction | SettingFunction2 | SettingFunction3 | IdealRubber
				| kCond | Cp | Cv | SetDirection | SetTemperature | SetConcentration | mirrored
				| kCondA | kCondT | kCondx | kCondy | kCondz | kCond0 | kCondd | P0 | T0 | Kmax
                | kCondR | kCondZ | Hardening | C1SL | C2SL | UJOption | ArtificialVisc | avA1 | avA2
				| yldxx | yldyy | yldzz | yldxy | yldxz | yldyz | Khard | nhard | color | betahard
				| Bjc | njc | Cjc | ep0jc | C0 | S1 | S2 | S3 | GPpG0 | GTpG0 | gamma0 | pressureLaw
				| Uk | YP | Friction | C1 | C2 | Ajc | mjc | Tmjc | tempC1 | tempC2 | LiquidPhase
                | tayM | rhoW | rhoC | fo | flim | fsto | sto | m | n | alp | burg | K1 | alpstar
                | betastar | k0 | Atd | Btd | tempDepend | MMG | PDamping | order | Sa | Na | kmu | vhalf )* >
<!ATTLIST	Material
			Type CDATA #REQUIRED
			Name CDATA #REQUIRED>

<!-- Displacement Boundary Conditions -->

<!ELEMENT	GridBCs
			( DisplacementBCs | BCLine | LdRect | BCArc | BCBox | BCShape )*>
			
<!ELEMENT	DisplacementBCs
			( fix* )>

<!-- Particle Load Boundary Conditions -->

<!ELEMENT	ParticleBCs
			( LoadBCs | LdRect | BCLine | BCArc | BCBox | BCShape )*>

<!ELEMENT	LoadBCs
			( load* )>

<!-- BC Shapes -->

<!ELEMENT	BCShape
			( ( Oval | Rect | Polygon | Sphere | Box | Cylinder | Torus | Shell | Line | Arc )*,
			( DisBC | ConcBC | LoadBC | ConcFluxBC | HeatFluxBC | TempBC | net | perParticle | TractionBC )* )>
<!ELEMENT	BCLine
			( DisBC | ConcBC | LoadBC | ConcFluxBC | HeatFluxBC | TempBC | net | perParticle | TractionBC )*>
<!ATTLIST	BCLine
			units CDATA #IMPLIED
			x1 CDATA #REQUIRED
			x2 CDATA #REQUIRED
			y1 CDATA #REQUIRED
			y2 CDATA #REQUIRED
			tolerance CDATA #IMPLIED>
			
<!ELEMENT	BCArc
			( DisBC | ConcBC | LoadBC | ConcFluxBC | HeatFluxBC | TempBC | net | perParticle | TractionBC )*>
<!ATTLIST	BCArc
			units CDATA #IMPLIED
			x1 CDATA #REQUIRED
			x2 CDATA #REQUIRED
			y1 CDATA #REQUIRED
			y2 CDATA #REQUIRED
			tolerance CDATA #IMPLIED
			start CDATA #IMPLIED
			end CDATA #IMPLIED>
			
<!ELEMENT	LdRect
			( LoadBC | ConcFluxBC | HeatFluxBC | DisBC | TempBC | ConcBC | net | perParticle | TractionBC )*>
<!ATTLIST	LdRect
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED>

<!ELEMENT	BCBox
			( DisBC | LoadBC | TempBC | ConcBC | ConcFluxBC | HeatFluxBC | net | perParticle | TractionBC )*>
<!ATTLIST	BCBox
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED
            axis (0|1|2|3|x|y|z|X|Y|Z) #IMPLIED>
			
<!-- Thermal analysis -->

<!ELEMENT	Thermal
			( Conduction | CrackTipHeating | EnergyCoupling | AVHeating | Isothermal
				| CrackContactHeating | ContactHeating )* >

<!-- Gravity analysis -->

<!ELEMENT	Gravity
			( (BodyXForce?, BodyYForce?, BodyZForce?, GridBodyXForce?, GridBodyYForce?, GridBodyZForce?) |
				(GridBodyXForce?, GridBodyYForce?, GridBodyZForce?, BodyXForce?, BodyYForce?, BodyZForce?))>

<!-- Custom Tasks -->

<!ELEMENT	CustomTasks (Schedule+) >

<!ELEMENT	Schedule
			( Parameter* )>
<!ATTLIST	Schedule
			name CDATA #REQUIRED>

<!-- ==============================================
		BASIC ELEMENTS (with no children)
================================================-->

<!ELEMENT	Description (#PCDATA)>
<!ELEMENT	Analysis (#PCDATA)>
<!ELEMENT	DevelFlag (#PCDATA)>
<!ATTLIST	DevelFlag
			Number (0|1|2|3|4|5|6|7|8|9) #IMPLIED>
<!ELEMENT	ConsistentUnits EMPTY>
<!ATTLIST	ConsistentUnits
			length (km|m|dm|cm|mm|um|microns|nm|L) #IMPLIED
			mass (kg|g|mg|ug|M) #IMPLIED
			time (s|sec|ms|msec|us|T) #IMPLIED>
<!ELEMENT	MatlPtsPerElement (#PCDATA)>
<!ELEMENT	Friction (#PCDATA)>
<!ATTLIST	Friction
			law CDATA #IMPLIED
			lawname CDATA #IMPLIED
			Dn CDATA #IMPLIED
			Dnt CDATA #IMPLIED
			Dnc CDATA #IMPLIED
			Dt CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>
<!ELEMENT	Propagate EMPTY>
<!ATTLIST	Propagate
			criterion (0|1|2|4|5|6|7) #IMPLIED
			direction (0|1|2|3|4) #IMPLIED
			traction CDATA #IMPLIED>
<!ELEMENT	AltPropagate EMPTY>
<!ATTLIST	AltPropagate
			criterion (0|1|2|4|5|6|7) #IMPLIED
			direction (0|1|2|3|4) #IMPLIED
			traction CDATA #IMPLIED>
<!ELEMENT	MovePlane EMPTY>
<!ATTLIST	MovePlane
			prevent (yes|YES|Yes|no|No|NO) #IMPLIED
			type (cm|CM|Cm|avg|Avg|AVG) #IMPLIED>
<!ELEMENT	ContactPosition (#PCDATA)>
<!ELEMENT	CrackParticleSize (#PCDATA)>
<!ELEMENT	PropagateLength (#PCDATA)>
<!ELEMENT	JContour EMPTY>
<!ATTLIST	JContour
			type (1|2) #IMPLIED
			size CDATA #IMPLIED
			gridenergy (0|1) #IMPLIED
			terms (1|2) #IMPLIED>
<!ELEMENT	MPMMethod (#PCDATA)>
<!ELEMENT	Timing EMPTY>
<!ATTLIST	Timing
			step CDATA #IMPLIED
			max CDATA #IMPLIED
			CFL CDATA #IMPLIED
			TransCFL CDATA #IMPLIED
			units CDATA #IMPLIED>
<!ELEMENT	ArchiveGroup EMPTY>
<!ATTLIST	ArchiveGroup
			time CDATA #REQUIRED
			start CDATA #IMPLIED
			maxProps CDATA #IMPLIED
			units CDATA #IMPLIED>
<!ELEMENT	GlobalArchive EMPTY>
<!ATTLIST	GlobalArchive
			type CDATA #REQUIRED
			material CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>
<!ELEMENT	ArchiveRoot (#PCDATA)>
<!ATTLIST	ArchiveRoot
			unique (0|1) #IMPLIED>
<!ELEMENT	MPMArchiveOrder (#PCDATA)>
<!ELEMENT	MPMArchive EMPTY>
<!ATTLIST	MPMArchive
			result CDATA #REQUIRED
			setting CDATA #IMPLIED>
<!ELEMENT	CrackArchiveOrder (#PCDATA)>
<!ELEMENT	DefGradTerms (#PCDATA)>
<!ELEMENT	ProgSteps (#PCDATA)>
<!ELEMENT	Damping (#PCDATA)>
<!ATTLIST	Damping
			function CDATA #IMPLIED
            PIC CDATA #IMPLIED>
<!ELEMENT	PDamping (#PCDATA)>
<!ATTLIST	PDamping
			function CDATA #IMPLIED
            PIC CDATA #IMPLIED>
<!ELEMENT	FeedbackDamping (#PCDATA)>
<!ATTLIST	FeedbackDamping
			target CDATA #IMPLIED
            max CDATA #IMPLIED>
<!ELEMENT	PFeedbackDamping (#PCDATA)>
<!ATTLIST	PFeedbackDamping
			target CDATA #IMPLIED
            max CDATA #IMPLIED>
<!ELEMENT	BodyXForce (#PCDATA)>
<!ELEMENT	BodyYForce (#PCDATA)>
<!ELEMENT	BodyZForce (#PCDATA)>
<!ELEMENT	GridBodyXForce (#PCDATA)>
<!ELEMENT	GridBodyYForce (#PCDATA)>
<!ELEMENT	GridBodyZForce (#PCDATA)>
<!ELEMENT	Isothermal (#PCDATA)>
<!ATTLIST	Isothermal
			time CDATA #IMPLIED
			start CDATA #IMPLIED>
<!ELEMENT	StressFreeTemp (#PCDATA)>
<!ELEMENT	LeaveLimit (#PCDATA)>
<!ELEMENT	ExtrapolateRigid EMPTY>
<!ELEMENT	SkipPostExtrapolation EMPTY>
<!ELEMENT	GIMP EMPTY>
<!ATTLIST	GIMP
			type (Dirac|uGIMP|lCPDI|qCPDI|B2GIMP|B2SPLINE|B2CPDI) #IMPLIED>
<!ELEMENT	Diffusion EMPTY>
<!ATTLIST	Diffusion
			reference CDATA #IMPLIED>
<!ELEMENT	Conduction EMPTY>
<!ELEMENT	CrackTipHeating EMPTY>
<!ELEMENT	CrackContactHeating EMPTY>
<!ELEMENT	ContactHeating EMPTY>
<!ELEMENT	EnergyCoupling EMPTY>
<!ELEMENT	AVHeating EMPTY>

<!ELEMENT	rho (#PCDATA)>
<!ELEMENT	E (#PCDATA)>
<!ELEMENT	nu (#PCDATA)>
<!ELEMENT	G (#PCDATA)>
<!ELEMENT	alpha (#PCDATA)>
<!ELEMENT	beta (#PCDATA)>
<!ELEMENT	yield (#PCDATA)>
<!ELEMENT	yieldMin (#PCDATA)>
<!ELEMENT	yldxx (#PCDATA)>
<!ELEMENT	yldyy (#PCDATA)>
<!ELEMENT	yldzz (#PCDATA)>
<!ELEMENT	yldxy (#PCDATA)>
<!ELEMENT	yldxz (#PCDATA)>
<!ELEMENT	yldyz (#PCDATA)>
<!ELEMENT	Hardening (#PCDATA)>
<!ELEMENT	Khard (#PCDATA)>
<!ELEMENT	nhard (#PCDATA)>
<!ELEMENT	Ajc (#PCDATA)>
<!ELEMENT	Bjc (#PCDATA)>
<!ELEMENT	njc (#PCDATA)>
<!ELEMENT	Cjc (#PCDATA)>
<!ELEMENT	ep0jc (#PCDATA)>
<!ELEMENT	mjc (#PCDATA)>
<!ELEMENT	Tmjc (#PCDATA)>
<!ELEMENT	EA (#PCDATA)>
<!ELEMENT	ET (#PCDATA)>
<!ELEMENT	Ep (#PCDATA)>
<!ELEMENT	GA (#PCDATA)>
<!ELEMENT	nuA (#PCDATA)>
<!ELEMENT	nuT (#PCDATA)>
<!ELEMENT	alphaA (#PCDATA)>
<!ELEMENT	alphaT (#PCDATA)>
<!ELEMENT	betaA (#PCDATA)>
<!ELEMENT	betaT (#PCDATA)>
<!ELEMENT	Ex (#PCDATA)>
<!ELEMENT	Ey (#PCDATA)>
<!ELEMENT	Ez (#PCDATA)>
<!ELEMENT	ER (#PCDATA)>
<!ELEMENT	EZ (#PCDATA)>
<!ELEMENT	Gxy (#PCDATA)>
<!ELEMENT	Gyx (#PCDATA)>
<!ELEMENT	Gxz (#PCDATA)>
<!ELEMENT	Gzx (#PCDATA)>
<!ELEMENT	Gyz (#PCDATA)>
<!ELEMENT	Gzy (#PCDATA)>
<!ELEMENT	GRZ (#PCDATA)>
<!ELEMENT	GZR (#PCDATA)>
<!ELEMENT	GRT (#PCDATA)>
<!ELEMENT	GTR (#PCDATA)>
<!ELEMENT	GZT (#PCDATA)>
<!ELEMENT	GTZ (#PCDATA)>
<!ELEMENT	nuxy (#PCDATA)>
<!ELEMENT	nuyz (#PCDATA)>
<!ELEMENT	nuxz (#PCDATA)>
<!ELEMENT	nuyx (#PCDATA)>
<!ELEMENT	nuzy (#PCDATA)>
<!ELEMENT	nuzx (#PCDATA)>
<!ELEMENT	nuRZ (#PCDATA)>
<!ELEMENT	nuZR (#PCDATA)>
<!ELEMENT	nuRT (#PCDATA)>
<!ELEMENT	nuTR (#PCDATA)>
<!ELEMENT	nuZT (#PCDATA)>
<!ELEMENT	nuTZ (#PCDATA)>
<!ELEMENT	alphax (#PCDATA)>
<!ELEMENT	alphay (#PCDATA)>
<!ELEMENT	alphaz (#PCDATA)>
<!ELEMENT	alphaR (#PCDATA)>
<!ELEMENT	alphaZ (#PCDATA)>
<!ELEMENT	betax (#PCDATA)>
<!ELEMENT	betay (#PCDATA)>
<!ELEMENT	betaz (#PCDATA)>
<!ELEMENT	betaR (#PCDATA)>
<!ELEMENT	betaZ (#PCDATA)>
<!ELEMENT	CritComp (#PCDATA)>
<!ELEMENT	CritTens (#PCDATA)>
<!ELEMENT	xihard (#PCDATA)>
<!ELEMENT	Elastic (#PCDATA)>
<!ELEMENT	KIc (#PCDATA)>
<!ELEMENT	KIexp (#PCDATA)>
<!ELEMENT	KIIc (#PCDATA)>
<!ELEMENT	KIIexp (#PCDATA)>
<!ELEMENT	JIc (#PCDATA)>
<!ELEMENT	JIIc (#PCDATA)>
<!ELEMENT	nmix (#PCDATA)>
<!ELEMENT	sigmaI (#PCDATA)>
<!ELEMENT	sigmaI2 (#PCDATA)>
<!ELEMENT	sigmaII (#PCDATA)>
<!ELEMENT	sigmaII2 (#PCDATA)>
<!ELEMENT	stress (#PCDATA)>
<!ELEMENT	minCOD (#PCDATA)>
<!ELEMENT	function (#PCDATA)>
<!ELEMENT	kIe (#PCDATA)>
<!ELEMENT	kIIe (#PCDATA)>
<!ELEMENT	delpkI (#PCDATA)>
<!ELEMENT	delpkI2 (#PCDATA)>
<!ELEMENT	delpkII (#PCDATA)>
<!ELEMENT	delpkII2 (#PCDATA)>
<!ELEMENT	delIc (#PCDATA)>
<!ELEMENT	delIIc (#PCDATA)>
<!ELEMENT	constantTip (#PCDATA)>
<!ELEMENT	D (#PCDATA)>
<!ELEMENT	DA (#PCDATA)>
<!ELEMENT	DT (#PCDATA)>
<!ELEMENT	Dx (#PCDATA)>
<!ELEMENT	Dy (#PCDATA)>
<!ELEMENT	Dz (#PCDATA)>
<!ELEMENT	DR (#PCDATA)>
<!ELEMENT	DZ (#PCDATA)>
<!ELEMENT	D0 (#PCDATA)>
<!ELEMENT	Dd (#PCDATA)>
<!ELEMENT	csat (#PCDATA)>
<!ELEMENT	SettingFunction (#PCDATA)>
<!ELEMENT	SettingFunction2 (#PCDATA)>
<!ELEMENT	SettingFunction3 (#PCDATA)>
<!ELEMENT	ValueFunction (#PCDATA)>
<!ELEMENT	InitialPressure (#PCDATA)>
<!ELEMENT	kCond (#PCDATA)>
<!ELEMENT	kCondA (#PCDATA)>
<!ELEMENT	kCondT (#PCDATA)>
<!ELEMENT	kCondx (#PCDATA)>
<!ELEMENT	kCondy (#PCDATA)>
<!ELEMENT	kCondz (#PCDATA)>
<!ELEMENT	kCond0 (#PCDATA)>
<!ELEMENT	kCondd (#PCDATA)>
<!ELEMENT	kCondR (#PCDATA)>
<!ELEMENT	kCondZ (#PCDATA)>
<!ELEMENT	P0 (#PCDATA)>
<!ELEMENT	T0 (#PCDATA)>
<!ELEMENT	Cp (#PCDATA)>
<!ELEMENT	Cv (#PCDATA)>
<!ELEMENT	viscosity (#PCDATA)>
<!ELEMENT	logshearrate (#PCDATA)>
<!ELEMENT	speed (#PCDATA)>
<!ELEMENT	xGrow (#PCDATA)>
<!ELEMENT	yGrow (#PCDATA)>
<!ELEMENT	initTime (#PCDATA)>
<!ELEMENT	maxLength (#PCDATA)>
<!ELEMENT	K (#PCDATA)>
<!ELEMENT	Lame (#PCDATA)>
<!ELEMENT	largeRotation (#PCDATA)>
<!ELEMENT	Dn (#PCDATA)>
<!ELEMENT	Dnt (#PCDATA)>
<!ELEMENT	Dnc (#PCDATA)>
<!ELEMENT	Dt (#PCDATA)>
<!ELEMENT	order (#PCDATA)>
<!ELEMENT	coeff (#PCDATA)>
<!ELEMENT	coeffStatic (#PCDATA)>
<!ELEMENT	displacementOnly (#PCDATA)>
<!ELEMENT	Dc (#PCDATA)>
<!ELEMENT	shareMatField (#PCDATA)>
<!ELEMENT	G0 (#PCDATA)>
<!ELEMENT	ntaus (#PCDATA)>
<!ELEMENT	Gk (#PCDATA)>
<!ELEMENT	tauk (#PCDATA)>
<!ELEMENT	G1 (#PCDATA)>
<!ELEMENT	G2 (#PCDATA)>
<!ELEMENT	IdealRubber EMPTY>
<!ELEMENT	UJOption (#PCDATA)>
<!ELEMENT	ArtificialVisc EMPTY>
<!ELEMENT	avA1 (#PCDATA)>
<!ELEMENT	avA2 (#PCDATA)>
<!ELEMENT	Uk (#PCDATA)>
<!ELEMENT	YP (#PCDATA)>
<!ELEMENT	K0 (#PCDATA)>
<!ELEMENT	Kd (#PCDATA)>
<!ELEMENT	Gd (#PCDATA)>
<!ELEMENT	alpha0 (#PCDATA)>
<!ELEMENT	alphad (#PCDATA)>
<!ELEMENT	beta0 (#PCDATA)>
<!ELEMENT	betad (#PCDATA)>
<!ELEMENT	transition (#PCDATA)>
<!ELEMENT	critical (#PCDATA)>
<!ELEMENT	DeltaVOffset (#PCDATA)>
<!ELEMENT	reversible EMPTY>
<!ELEMENT	irreversible EMPTY>
<!ELEMENT	SetDirection (#PCDATA)>
<!ELEMENT	mirrored (#PCDATA)>
<!ELEMENT	SetTemperature EMPTY>
<!ELEMENT	SetConcentration EMPTY>
<!ELEMENT	color EMPTY>
<!ATTLIST	color
			red CDATA #REQUIRED
			green CDATA #IMPLIED
			blue CDATA #IMPLIED
            alpha CDATA #IMPLIED>
<!ELEMENT	betahard (#PCDATA)>
<!ELEMENT	pressureLaw (#PCDATA)>
<!ELEMENT	C0 (#PCDATA)>
<!ELEMENT	S1 (#PCDATA)>
<!ELEMENT	S2 (#PCDATA)>
<!ELEMENT	S3 (#PCDATA)>
<!ELEMENT	GPpG0 (#PCDATA)>
<!ELEMENT	GTpG0 (#PCDATA)>
<!ELEMENT	yieldMax (#PCDATA)>
<!ELEMENT	gamma0 (#PCDATA)>
<!ELEMENT	C1 (#PCDATA)>
<!ELEMENT	C2 (#PCDATA)>
<!ELEMENT	C1SL (#PCDATA)>
<!ELEMENT	C2SL (#PCDATA)>
<!ELEMENT	tempC1 (#PCDATA)>
<!ELEMENT	tempC2 (#PCDATA)>
<!ELEMENT	tayM (#PCDATA)>
<!ELEMENT	rhoW (#PCDATA)>
<!ELEMENT	rhoC (#PCDATA)>
<!ELEMENT	fo (#PCDATA)>
<!ELEMENT	flim (#PCDATA)>
<!ELEMENT	fsto (#PCDATA)>
<!ELEMENT	sto (#PCDATA)>
<!ELEMENT	m (#PCDATA)>
<!ELEMENT	n (#PCDATA)>
<!ELEMENT	alp (#PCDATA)>
<!ELEMENT	burg (#PCDATA)>
<!ELEMENT	K1 (#PCDATA)>
<!ELEMENT	alpstar (#PCDATA)>
<!ELEMENT	betastar (#PCDATA)>
<!ELEMENT	k0 (#PCDATA)>
<!ELEMENT	Atd (#PCDATA)>
<!ELEMENT	Btd (#PCDATA)>
<!ELEMENT	tempDepend (#PCDATA)>
<!ELEMENT	MMG (#PCDATA)>

<!ELEMENT	pt EMPTY>
<!ATTLIST	pt
			units CDATA #IMPLIED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			z CDATA #IMPLIED
			tip CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>

<!-- This element is overloaded and used as shape and to define cracks -->
<!ELEMENT	Line
			( Rect | Oval | Polygon | Line | Arc )* >
<!ATTLIST	Line
			units CDATA #IMPLIED
			xmin CDATA #IMPLIED
			ymin CDATA #IMPLIED
			zmin CDATA #IMPLIED
			xmax CDATA #IMPLIED
			ymax CDATA #IMPLIED
			zmax CDATA #IMPLIED
			x1 CDATA #IMPLIED
			y1 CDATA #IMPLIED
			z1 CDATA #IMPLIED
			x2 CDATA #IMPLIED
			y2 CDATA #IMPLIED
			z2 CDATA #IMPLIED
			tolerance CDATA #IMPLIED
			resolution CDATA #IMPLIED
			start_tip CDATA #IMPLIED
			end_tip CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>

<!ELEMENT	Circle EMPTY>
<!ATTLIST	Circle
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			ymin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymax CDATA #REQUIRED
			resolution CDATA #REQUIRED
			start_angle CDATA #IMPLIED
			end_angle CDATA #IMPLIED
			start_tip CDATA #IMPLIED
			end_tip CDATA #IMPLIED
			mat CDATA #IMPLIED
			matname CDATA #IMPLIED>

<!ELEMENT	elem (#PCDATA)>
<!ATTLIST	elem
			type (1|2|7) "2"
			matl CDATA "1"
			angle CDATA "0.0"
			thick CDATA "1">

<!ELEMENT	Horiz EMPTY>
<!ATTLIST	Horiz
			nx CDATA #IMPLIED
			cellsize CDATA #IMPLIED
			symmin CDATA #IMPLIED
			symmax CDATA #IMPLIED
			rx CDATA "1.0">

<!ELEMENT	Vert EMPTY>
<!ATTLIST	Vert
			ny CDATA #IMPLIED
			cellsize CDATA #IMPLIED
			symmin CDATA #IMPLIED
			symmax CDATA #IMPLIED
			ry CDATA "1.0">
			
<!ELEMENT	Depth EMPTY>
<!ATTLIST	Depth
			nz CDATA #IMPLIED
			cellsize CDATA #IMPLIED
			symmin CDATA #IMPLIED
			symmax CDATA #IMPLIED
			rz CDATA "1.0">
			
<!ELEMENT	vel EMPTY>
<!ATTLIST	vel
			units CDATA #IMPLIED
			x CDATA #IMPLIED
			y CDATA #IMPLIED
			z CDATA #IMPLIED>

<!ELEMENT	mass EMPTY>
<!ATTLIST	mass
			units CDATA #IMPLIED
			m CDATA #REQUIRED>

<!ELEMENT	vel0X (#PCDATA)>
<!ELEMENT	vel0Y (#PCDATA)>
<!ELEMENT	vel0Z (#PCDATA)>
<!ELEMENT	RotateX (#PCDATA)>
<!ELEMENT	RotateY (#PCDATA)>
<!ELEMENT	RotateZ (#PCDATA)>
<!ELEMENT	Unrotate EMPTY>

<!ELEMENT	Rect
			( arc?, ( Rect | Oval | Polygon | Line | Arc )* )>
<!ATTLIST	Rect
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED>

<!ELEMENT	Box
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Box
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED>

<!ELEMENT	Shell
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Shell
			units CDATA #IMPLIED
			xmin CDATA #IMPLIED
			xmax CDATA #IMPLIED
			ymin CDATA #IMPLIED
			ymax CDATA #IMPLIED
			zmin CDATA #IMPLIED
			zmax CDATA #IMPLIED
			axis CDATA #REQUIRED
            radius CDATA #REQUIRED
			thickness CDATA #REQUIRED>

<!ELEMENT	Oval
			( arc?, ( Rect | Oval | Polygon | Line | Arc )* )>
<!ATTLIST	Oval
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED>

<!ELEMENT	arc EMPTY>
<!ATTLIST	arc
			start CDATA #REQUIRED
			end CDATA #REQUIRED>

<!ELEMENT	Arc
			( Rect | Oval | Polygon | Line | Arc )* >
<!ATTLIST	Arc
			units CDATA #IMPLIED
			xmin CDATA #IMPLIED
			ymin CDATA #IMPLIED
			xmax CDATA #IMPLIED
			ymax CDATA #IMPLIED
			x1 CDATA #IMPLIED
			y1 CDATA #IMPLIED
			x2 CDATA #IMPLIED
			y2 CDATA #IMPLIED
			tolerance CDATA #IMPLIED
			start CDATA #IMPLIED
			end CDATA #IMPLIED>

<!ELEMENT	Sphere
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Sphere
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED>

<!ELEMENT	Cylinder
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Cylinder
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED
			axis CDATA #REQUIRED
            radius CDATA #IMPLIED>

<!ELEMENT	Torus
			( Box | Sphere | Cylinder | Shell | Torus | Polyhedron | Line )* >
<!ATTLIST	Torus
			units CDATA #IMPLIED
			xmin CDATA #REQUIRED
			xmax CDATA #REQUIRED
			ymin CDATA #REQUIRED
			ymax CDATA #REQUIRED
			zmin CDATA #REQUIRED
			zmax CDATA #REQUIRED
			axis CDATA #REQUIRED
            radius CDATA #IMPLIED>

<!ELEMENT	faces (#PCDATA)>
<!ATTLIST	faces
			units CDATA #IMPLIED
			style CDATA #REQUIRED>

<!ELEMENT	DisBC EMPTY>
<!ATTLIST	DisBC
			dir CDATA #REQUIRED
			disp CDATA #IMPLIED
			vel CDATA #IMPLIED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			ftime CDATA #IMPLIED
			angle CDATA #IMPLIED
			angle2 CDATA #IMPLIED
			function CDATA #IMPLIED
            id CDATA #IMPLIED>

<!ELEMENT	ConcBC EMPTY>
<!ATTLIST	ConcBC
			value CDATA #IMPLIED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	ConcFluxBC EMPTY>
<!ATTLIST	ConcFluxBC
			dir CDATA #REQUIRED
			value CDATA #IMPLIED
			style (1|2|3|4|5|6) "1"
			time CDATA #IMPLIED
			bath CDATA #IMPLIED
			face CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	HeatFluxBC EMPTY>
<!ATTLIST	HeatFluxBC
			dir CDATA #REQUIRED
			value CDATA #IMPLIED
			style (1|2|3|4|5|6) "1"
			time CDATA #IMPLIED
			face CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	TempBC EMPTY>
<!ATTLIST	TempBC
			value CDATA #IMPLIED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	net EMPTY>
<!ELEMENT	perParticle EMPTY>

<!ELEMENT	fix (#PCDATA)>
<!ATTLIST	fix
			node CDATA #REQUIRED
			dof CDATA #REQUIRED
			style (1|2|3|4|6) "1"
			time CDATA #IMPLIED
			angle CDATA #IMPLIED
			angle2 CDATA #IMPLIED
            id CDATA #IMPLIED>

<!ELEMENT	load (#PCDATA)>
<!ATTLIST	load
			node CDATA #IMPLIED
			pt CDATA #IMPLIED
			dof CDATA #REQUIRED
			style (1|2|3|4|5|6) "1">
			
<!ELEMENT	LoadBC EMPTY>
<!ATTLIST	LoadBC
			dir CDATA #REQUIRED
			style (1|2|3|4|5|6) "1"
			load CDATA #IMPLIED
			ftime CDATA #IMPLIED
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	TractionBC EMPTY>
<!ATTLIST	TractionBC
			dir CDATA #REQUIRED
			style (1|2|3|4|6) "1"
            face (1|2|3|4|5|6) #IMPLIED
			stress CDATA #IMPLIED
			ftime CDATA #IMPLIED
			time CDATA #IMPLIED
			function CDATA #IMPLIED>

<!ELEMENT	Parameter (#PCDATA)>
<!ATTLIST	Parameter
			name CDATA #REQUIRED>

<!ELEMENT	Origin EMPTY>
<!ATTLIST	Origin
			units CDATA #IMPLIED
			x CDATA #REQUIRED
			y CDATA #REQUIRED
			z CDATA #IMPLIED
			flipped CDATA #IMPLIED>
<!ELEMENT	Angle (#PCDATA)>
<!ELEMENT	Thickness (#PCDATA)>
<!ATTLIST	Thickness
			units CDATA #IMPLIED>
<!ELEMENT	Temperature (#PCDATA)>
<!ELEMENT	Concentration (#PCDATA)>

<!ELEMENT	Kmax (#PCDATA)>
<!ELEMENT	Sa (#PCDATA)>
<!ELEMENT	Na (#PCDATA)>
<!ELEMENT	kmu (#PCDATA)>
<!ELEMENT	vhalf (#PCDATA)>
<!ELEMENT	LiquidPhase (#PCDATA)>

<!ELEMENT	NeedsMechanics EMPTY>

<!-- ==============================================
		DEPRECATED ELEMENTS (with no children)
================================================-->

<!ELEMENT	TimeStep (#PCDATA)>
<!ATTLIST	TimeStep
			units CDATA #IMPLIED>
<!ELEMENT	TimeFactor (#PCDATA)>
<!ELEMENT	TransTimeFactor (#PCDATA)>
<!ELEMENT	MaxTime (#PCDATA)>
<!ATTLIST	MaxTime
			units CDATA #IMPLIED>
<!ELEMENT	ArchiveTime (#PCDATA)>
<!ATTLIST	ArchiveTime
			units CDATA #IMPLIED
			maxProps CDATA #IMPLIED>
<!ELEMENT	FirstArchiveTime (#PCDATA)>
<!ATTLIST	FirstArchiveTime
			units CDATA #IMPLIED>
<!ELEMENT	GlobalArchiveTime (#PCDATA)>
<!ATTLIST	GlobalArchiveTime
			units CDATA #IMPLIED>


